[2015-12-10 13:42] sant0ro opened #1 "Rewrite: Catalog"
+ Rewrite Catalogue Manager
+ Implement Dynamic Catalog Page Type Collection (Following a Base Catalog Page, and Models)
+ Rewrite Catalogue Search
+ Rewrite Catalog Item Indexing

[2015-12-10 13:43] sant0ro opened #2 "Rewrite: Navigator"
+ Rewrite Navigator Classes
+ Improving Interfaces
+ Removing Useless Code/Classes
+ Improve Documentation

[2015-12-10 13:44] sant0ro opened #3 "Rewrite: Items Handler"
+ Rewrite Items Namespaces
+ Rewrite Item Purchase
=> Planning to Item Purchase get Interaction Data by Interaction Models, removing the big ouch Switch or if-else
+ Planning to rewrite Item Data Indexing
+ Improve Items Tables from Database

[2015-12-10 13:47] sant0ro opened #4 "Rewrite: Item Interaction Type"
Rewrite all Interaction Type System, Improving how is Handled. And improving the Interfaces

[2015-12-10 13:47] sant0ro opened #5 "Rewrite: Items: Wireds"
**It's totally Important Rewrite Also Wired Handlers, And Wired Interaction  System that of course is really bad**

[2015-12-10 13:49] sant0ro opened #6 "BotAI: Pet Bot"
+ Rewrite Pet Dynamically
+ Implement Real Dynamic PetBot (Generic Bot already Rewrote) 90% OK

=> Pet Types by Database OK

=> Pet Commands by Database 99% OK

=> Command Info (How much energy consumpt, How many points give, And Actions, And Input Aliases of the Command) OK!

[2015-12-10 13:49] sant0ro opened #7 "Yupi Emulator: Documentation Sprint"
# Documentation
**Here will be tracked and reported documentation progress and related things**

## Assigned
- @Rockster34
- @CineXMike

[2015-12-14 13:28] sant0ro commented on #6
Rewrited Parcially. Pet Bot are dynamics, but need finish rewriting all Pet related stuff.

[2015-12-14 13:30] sant0ro opened #9 "Group: Forums Database"
+ Need created Table for Group Forums OK
+ Rewrite Group Forum Classes
+ Improve Types OK
+ Improve Group Forum Posts OK
+ Change Group Forum check system (removing bool has_forum, to check existence of Forum with same group_id in groups_forums_data) OK
+ Fix Groups save prefferences.OK

[2015-12-15 07:32] HotelXz opened #10 "Buggs Report"
Hi, When i used azure 2.0 before i had one big problem and it is, The both freeze and battle banzai ports dont work good, Same with few old teleporters they dont work, And few works of them works well (new teleports), And can u fix so the proxy works with this emu so i dont need to add it every time i dowload a new update thank u

[2015-12-15 10:59] sant0ro commented on #10
Hello, this is not Azure. But can you say again the bugs? I think i understood:

1. Proxy doesn't work, because you need put Proxy ports, directly in Emulator crossdomain Configuration yeah? If yes, can u tell me which file is in Azure Emulator?
2. BattleBanzai and Freeze ports works in Yupi also in Azure 1.0, the unique problem is you need put the Game Scores and Game Timers do Start the Game. Ye

[2015-12-15 16:49] HotelXz opened #11 "New Problem"
Hi, i have tried your emulator (yupi), i saw a huge problem, i cant login after i have created a room, I cant load the room in the navigator and go to a room the screen is just black and i get massive errors, Here u got the error log hope u can fix it thanks: http://pastebin.com/HsRNWM0y

[2015-12-15 17:03] Weeknd opened #12 "Guardians"
I saw that the guardians system were not completely finished, it's possible that you watch this?
Thank's you

[2015-12-15 17:04] HotelXz commented on #10
Here is one exempel of the old azure teleport bug that is annoying: https://gyazo.com/95f6208ad58988c01a3441a2ba42d42c

I tried to go in the teleport but i didnt get out of the another side xd, many of the old teleporters is so
thanks

[2015-12-15 18:12] HotelXz commented on #11
i dont know if this is a working or a just beta, but i didnt get up the items in the catalog pages when click it thanks for this

[2015-12-15 19:29] sant0ro commented on #10
This bug doesn't exists in Yupi. Please here is not place for Azure Bugs.

[2015-12-15 19:29] #10 closed

[2015-12-15 19:29] sant0ro commented on #12
Yeah, the Guardians System isn't finished. But the Helper Tools are totally working. Helper tools in Azure doesn't work.

[2015-12-15 19:31] sant0ro commented on #11
Remembering. This is a Pre-Release. The emulator isn't finished for production usages.
Soo these bugs of casting are totally normal. When the 1.0 release (beta) be released. Will be able to production usages.

The actually builds are pre-beta, and pre-alpha.
Cheeers,

[2015-12-15 19:31] #11 closed

[2015-12-15 21:53] caio1478 opened #13 "Claudio's Issue"
little Claudio, I NEED YOUR HELP!

~~
u can delete this issue

[2015-12-16 11:46] #13 closed

[2015-12-16 11:58] sant0ro opened #14 "In-Game: Can't buy Pet"
The Bug is you can't buy the pet in Catalog, because pet race doesn't appear.
Probably: In Azure you need put the pet type in special_name.. I will check if is that.

[2015-12-16 11:59] sant0ro opened #15 "In-Game: Can't buy gift"
When you click to buy gift, you receive a beautifull disconnect from game, without errors in emulator.
Probably: Wrong Packet, or Wrong code in PurchaseHandler

[2015-12-16 12:00] sant0ro opened #16 "In-Game: Can't buy group Forum"
When you goes to Forum Page in Catalog, gives an Critical Exception, in wrong Request.
Probably packet is wrong, and this happens because the structure is wrong (because the sended packet is wrong)

[2015-12-16 14:05] sant0ro commented on #16
Fixed

[2015-12-16 14:05] #16 closed

[2015-12-16 14:05] sant0ro opened #17 "Probably Wrong Packets:"
Probably Structures are wrong

[2015-12-16 23:17] sant0ro commented on #17
Fixed

[2015-12-16 23:17] #17 closed

[2015-12-16 23:17] sant0ro commented on #9
50% Done.

[2015-12-16 23:17] sant0ro commented on #6
80% Done.

[2015-12-17 13:55] sant0ro opened #19 "Some Groups issues"
+ Add Dynamic Groups Message Composers
+ Add Dynamic Replace Into's

[2015-12-17 13:56] sant0ro opened #20 "Todays Work: Other things"
+ Need search other disabled packets
+ Make a code that check if packet is in .incoming, but not in .library
+ Continue improving database

[2015-12-17 19:07] sant0ro opened #21 "Groups Issues"
Group Admins or Members with rights, can only remove theirs items (fixed)
Group Forums Report Thread doesn't work (not coded packet)

[2015-12-17 19:08] sant0ro opened #22 "Helper Tools Issues"

[2015-12-17 19:10] sant0ro opened #23 "Mod Tools Issues"
1. Only can send Intimidates Tickets, other tickets you cannot send.. (why?)
2. You can send other ticket types only if the user of the room isn't admin, or room owner.
3. When you try open a ticket with other opened, a window asking if want to release the oldest open. But if you click release, nothing happens. Also this window only appear for intimidate tickets.
4. In the mod tools, some descript

[2015-12-17 19:10] sant0ro opened #24 "Bot Issue"
1. The bot doesn't go to you when he give something to you. In habbo he need go to you. (Isn't coded in Yupi)

[2015-12-17 21:15] HotelXz commented on #24
I want to give u one more bug with the bot, If u got 1 or more bots in your room and use the floorplan maker and change the floor and reenter the room u cant walk or the items and the bot are gone in the room, Proof: https://gyazo.com/e22228abfbdd396ab345df49213b95a1

[2015-12-17 21:17] HotelXz commented on #23
Bug update for u: Chatlog dosent save in the chatlog window if u use unload or reload command, Same if u click user info -> room chat, the chat of the player isnt there, Thanks for this good updates bro

[2015-12-17 21:21] HotelXz commented on #21
Bug update: If u create a group and look at the group info it says that im as owner are pending on invite for go in the guild thanks

[2015-12-18 11:09] sant0ro commented on #21
Please, repeat what you're saying i didn't understand.

Yeah the owner stay as pending, only disappear after restart emulator. But owner still owner.

[2015-12-18 11:10] sant0ro commented on #23
The chatlog saves. Immediately after you type the message. Is absolutely normal this.
But the chatlog disappears after room unload? this doesn't make any sense. I will check..

[2015-12-18 11:10] sant0ro commented on #24
This doesn't make any sense. Please check for Exceptions log...

[2015-12-18 15:54] Arfeu opened #25 "Game: Wireds Issue List Reporting"
# Wireds Issues
**This Issue List is for Reporting Every Wired Configuration / Execution / Issues / Delays**

### Description
Wired Items Change Logs will be reported in _Development Acomplish_

### Assigned
For Everyone

### Development Acomplish
Referenced in #5

[2015-12-19 00:24] HotelXz commented on #23
the chatlog dont saves, its the problem thanks.

[2015-12-19 00:34] HotelXz commented on #24
Sorry for slow replay but here is the exceptions log: http://pastebin.com/XQPwCYrh

[2015-12-19 00:40] HotelXz commented on #21
Yeah that with pending owner dissapear but here is the logg for delete the group: http://pastebin.com/SS2aNzNY

thanks for the good work

[2015-12-19 01:35] sant0ro commented on #21
You need download last version --'.

[2015-12-19 01:35] sant0ro commented on #24
Please. Use last version.

[2015-12-19 08:45] HotelXz commented on #24
I use the last one?, i get the errors with the last commit emu?

[2015-12-20 15:37] sant0ro commented on #25
I will check that. Probably something misconfigured. Or the emulator think the item unique I'd is the same.

[2015-12-20 15:40] sant0ro commented on #24
Please. When update the database. You need delete the entire database. Because the Foreign Keys.
Please don't use last release. Build yourself the emulator.

This bug doesn't exists. But I will check. And isn't because of two bots.
Please here is a place to post valid issues, based in logs. Or based in screenies. If this bug exists, please post logs from emulator, or screenies.

[2015-12-24 06:13] FatalytRap opened #26 "Clothes do not carry"
The clothes of my hotel are not charging, already changed my SWF several times and have checked several times if the wrong configuration. I do not know what else to do.
I will post some of my prints SWF I was using with Azure 2.0 and everything was working 100%, I've changed the Habbo.swf.

http://imgur.com/a/gEggN

All commands work, mobs, etc ... LESS visual, they do not carry.
I am eager to use

[2015-12-24 15:47] sant0ro commented on #26
You know that this new release, has two extra .xml, the PRODUCTION has more xml's on gordon. Check for some 404 not found in the client.

[2015-12-24 15:47] #26 closed

[2015-12-24 15:53] FatalytRap commented on #26
Is there any own swf for this emulator?

[2015-12-26 13:53] KilluaKira opened #27 "Yupi Database doesent work with OneCMS v4"
do you think to adapt database to one cms v4? sorry for my english i'm italian and i like this emulator
thanks in advance

[2015-12-26 18:37] sant0ro commented on #27
No.

[2015-12-26 18:37] #27 closed

[2015-12-26 18:38] sant0ro commented on #27
Observation: It's in development this emulator. Not for Production usage.

Cheers
;)

[2015-12-26 22:49] KilluaKira commented on #27
of course I know it's in development but I wish I could give it a try

[2015-12-26 23:03] KilluaKira commented on #27
@sant0ro If you would like to see the site where I would give it a try here is the url www.sunakehotel.com i use azure 1.190, because unfortunately I don't find what I need and the 2100 and 2200 of azure have many bugs being betas

[2015-12-27 13:23] KilluaKira commented on #27
If you want to visit my website here is the url www.sunakehotel.com

[2015-12-30 21:19] Proinesis commented on #24
[ExceptionsLog.txt](https://github.com/sant0ro/Yupi/files/75191/ExceptionsLog.txt)

[2016-01-05 10:43] bblackv opened #28 "Some commands doesn't works"
Commands:

:disableevents/ :status/ :refresh_catalogue doesn't works. Sorry for my english

[2016-01-05 13:15] sant0ro commented on #28
:disableevent is only to when you send an :eventha;:eventalert the user that entered the command :disableevent doesn't received the Hotel Alert. Because some users doesn't like the Flood from Event Alert.

:refresh_catalogue doesn't work? Will check that.

:status is for appear as offline or online in hotel.

[2016-01-05 13:20] bblackv commented on #28
Eu entrei em duas contas, uma (rank 1) usei o comando :disableevent e na outra (rank 10) usei o comando :eventha e mesmo assim apareceu

[2016-01-05 13:22] sant0ro commented on #28
You verified if disableevent is enabled for rank 1?
Also the Event Alert doesn't must appear for the Rank 1, to the rank 10 can appear, because he didn't typed disableevent.

[2016-01-05 13:25] bblackv commented on #28
Yes, i verified it

[2016-01-05 13:26] sant0ro commented on #28
Okay i will check.

[2016-01-05 13:26] #28 closed

[2016-01-05 21:45] DJGOMEZV opened #29 "Error Ticket"
Is My Error in Yupi:

System.InvalidCastException: La conversi?n especificada no es v?lida.
   en Yupi.Game.Users.Factories.UserDataFactory.GetUserData(String sessionTicket, UInt32& errorCode)

[2016-01-05 22:13] caio1478 commented on #13
i love cookies

[2016-01-07 16:43] sant0ro commented on #29
Fixed.

[2016-01-07 16:43] #29 closed

[2016-01-07 16:44] sant0ro commented on #24
Fixed Bots Errors.

[2016-01-07 16:44] sant0ro commented on #6
90% Done.

[2016-01-07 16:44] sant0ro commented on #14
Fixed.

[2016-01-07 16:44] #14 closed

[2016-01-07 16:45] sant0ro commented on #20
35% Done.

[2016-01-07 18:38] DJGOMEZV commented on #29
I still keeps coming this error:

Bug During user login: System.InvalidCastException: The conversion is not specified v n Lida?.
    in Yupi.Game.Users.Factories.UserDataFactory.GetUserData (sessionTicket String, UInt32 & errorCode)
    in Yupi.Game.GameClients.Interfaces.GameClient.TryLogin (String AuthTicket)

[2016-01-07 18:38] DJGOMEZV opened #30 "Follow the same mistake and you lower the new source (Error Ticket)"
I still keeps coming this error:

Bug During user login: System.InvalidCastException: The conversion is not specified v n Lida?.
    in Yupi.Game.Users.Factories.UserDataFactory.GetUserData (sessionTicket String, UInt32 & errorCode)
    in Yupi.Game.GameClients.Interfaces.GameClient.TryLogin (String AuthTicket)

[2016-01-07 20:23] sant0ro commented on #30
I tested in many computers. And I didn't get that error. Are you using the included database? Which version of MySQL? Is your client sending an so ticket? Maybe your SSO field in database or client is empty, so he can't do a casting with empty data.
Null is considered empty data, in the database empty column auth_ticket or client with empty sso_ticket is considered empty data, and null has no conv

[2016-01-07 20:50] DJGOMEZV commented on #30
The customer has sso.ticket running, sends the generated ticket to the database and always has, it is rare that I do this, I have PHP MySQL 5.6.12 and 5.0.11

[2016-01-08 00:39] sant0ro commented on #30
Sorry, but this error doesn`t happens here. I can`t reproduce the issue.

[2016-01-08 00:39] #30 closed

[2016-01-08 11:47] Yannici opened #31 "InvalidCastException on database values"
Hi @sant0ro,

I'm not new to programming, but this is strange:
I wanted to add some code, so the emulator can work with my database structure, but I have some problems with casting the datarow-objects. When the code has to execute something like `(int)dataRow["column"]`, I get an InvalidCastException. The value in the database is (of course) an integer! Could you please tell me why this is happen?

[2016-01-08 11:51] sant0ro commented on #31
Hello, first the column can be an INTEGER, but isn't totally a clean-integer type, check if this field is PRIMARY, or an INDEX or is UNSIGNED, or is tinyint, or has some attributes.

If has UNSIGNED is an (uint)
if has other properties is better using int.Parse() (that will convert the object to integer)

[2016-01-08 11:51] #31 closed

[2016-01-08 11:57] Yannici commented on #31
Even on database-tables copied from your Database.sql it isn't working. For example the field `id` of table `users` is an primary key, unsigned int and following code doesn't work: `(uint)dRow["id"]`. Maybe there are some restriction in the build configuration? I already checked that, but found nothing.

[2016-01-08 11:58] sant0ro commented on #31
Exactly, because the field ID from users is an INDEX, particularly a PRIMARY KEY.

[2016-01-08 11:59] sant0ro commented on #31
In these cases you ned put Convert. or int.Parse

[2016-01-08 12:00] Yannici commented on #31
And why this is working with your database <-> code? Because you're using direct-cast `(uint)`, too. For example for field `credits` unsigned int, no index, the code `(uint)dRow["credits"]` doesn't work ...

[2016-01-08 12:02] Yannici commented on #31
Ok, finally, it's working like you said. I'm sorry ;-)

[2016-01-08 12:03] sant0ro commented on #31
;)

[2016-01-08 16:48] DJGOMEZV opened #32 "Ticket Still mistake, please help me"
Me this error is still out, because you can not help me?

Bug during user login: System.InvalidCastException: La conversi?n especificada no es v?lida.
   en Yupi.Game.Users.Factories.UserDataFactory.GetUserData(String sessionTicket, UInt32& errorCode)
   en Yupi.Game.GameClients.Interfaces.GameClient.TryLogin(String authTicket)

[2016-01-09 01:02] sant0ro commented on #32
@DJGOMEZV i can't do anything about this if i can't REPRODUCE the error. How i will fix a error that doesn't happens with me?

[2016-01-09 04:19] DJGOMEZV commented on #32
He used iSummerCMS property and works in Azure Emulator ticket, I have the ticket that is generated or have to put one in particular, or as you access your server? I could spend the ticket generator of your CMS?

[2016-01-09 12:58] sant0ro commented on #32
Hum.. i really don't know why is this happening DJ, but will search.

[2016-01-10 15:30] sant0ro commented on #32
Closed.

[2016-01-10 15:30] #32 closed

[2016-01-10 15:32] sant0ro opened #33 "Database Adapters Issues"
Need to:
1. Rewrite Database:
a. Query Interfaces
b. Query Models
2. Rewrite Database Session Handlers
3. Rewrite Database Classes
4. Clean and Optimize Database Classes..

[2016-01-10 15:33] sant0ro opened #34 "Data Model: Useless Queries"
# Useless Queries
#### Need remove useless, duplicated, and bad maded queries in whole Yupi Emulator

[2016-01-12 15:05] Zortex04 opened #35 "Visual Studio Error"
"Code CS0246 The Type or Namespace name 'MySql' could not be found (are you missing a using directive or an assebly refernce)"

[2016-01-12 15:17] #35 closed

[2016-01-12 20:21] sant0ro commented on #34
Saving Chatlog is working.

[2016-01-12 20:21] #33 closed

[2016-01-12 23:06] bblackv commented on #15
packet wong

[2016-01-13 11:37] sant0ro commented on #15
Thanks! If you can, can send me the error when try to buy gift? Also can you tell to me if is the incoming or outgoing wrong?

What happens when try to buy gift? Disconnect yeah? So i think exists two possibles:
1. Wrong packet structure
2. Wrong packet

Since AHPU is 90% reliable, so is possible the item 2 as is possible the item 1.

Thanks!

[2016-01-13 13:33] bblackv commented on #15
outgoing wrong

ps: It's good to review the outgoing

[2016-01-13 17:33] #24 closed

[2016-01-13 17:33] sant0ro commented on #1
Rewrited HandlePurchase. Continuing progress.

[2016-01-13 17:35] sant0ro commented on #34
Going to check all queries.

[2016-01-14 10:40] sant0ro commented on #15
Okay!

[2016-01-14 14:15] sant0ro commented on #19
60% Done.

Fixed:
1. New Forum Thread
2. Group Admin

[2016-01-14 14:18] sant0ro commented on #9
80% Done.

[2016-01-14 14:18] sant0ro commented on #5
20% Done.

[2016-01-16 13:53] dm5wg opened #37 "List of bugs"
- Trade in game is not working (Now you can put the item but not trade, says that trade is not active with email)
- Gifts not working (Client Crash)

[2016-01-16 16:11] PeDrOxRD commented on #37
Every time you press offer when you trading the emu give you a incoming 282 refused packet

[2016-01-17 06:30] PeDrOxRD commented on #37
I've been trying to make it work , but i dont get it , it just don't get the packet and dont process this function OfferTradeItem(GameClientMessageHandler handler),i don't know what else to try

[2016-01-17 08:13] PeDrOxRD commented on #37
found the problem, change the packet ID from 2354 to 282 Good night !

[2016-01-17 11:57] dm5wg commented on #37
Thanks Pedro!

[2016-01-17 15:45] PeDrOxRD commented on #37
I've been looking for it , but i don't understand why is giving me that message, I'll try to find out

[2016-01-17 16:25] dm5wg commented on #37
Same

[2016-01-17 17:01] dm5wg commented on #37
Thanks sant0ro!

[2016-01-17 17:04] PeDrOxRD commented on #37
Did anyone found out yet about the other problem ?

[2016-01-17 17:08] sant0ro commented on #37
I will continue working in Yupi tomorrow. I will search this bug.

[2016-01-17 17:08] sant0ro commented on #23
@trylix

[2016-01-17 17:09] sant0ro commented on #22
@trylix

[2016-01-17 17:09] sant0ro commented on #12
@trylix

[2016-01-17 17:10] sant0ro opened #40 "Need Rewrite Help System"
Rewrite Helper Tools, Mod Tools Ticket System, Ambassador System

Issues:
#12
#23
#22

[2016-01-17 17:11] sant0ro commented on #7
@Rockster34 @caio1478 @CineXMike Will do the Documentation

[2016-01-18 09:42] dm5wg opened #41 "Problem with connection"
![image](https://cloud.githubusercontent.com/assets/16397685/12387840/87f23dce-bdcf-11e5-8b85-8de3400e2e1e.png)

I have this error after few hours. It says is 1 connection and no users online, and when user connect server kicks him saying isn't online.

Close never success.

[2016-01-18 10:40] sant0ro commented on #41
Conflict in Connections. do the following:
Open: Yupi/Data/ServerCPULowPriorityWorker.cs

Comment these lines:
[code]

[2016-01-18 10:40] #41 closed

[2016-01-18 11:58] ImNotSatan opened #42 "[Bots] Handitem only for staff?"
I was in a room and only the staff managed to get drinks for the bot for some reason.

[2016-01-18 13:09] sant0ro commented on #42
Change Min Rank for Hand Item.

[2016-01-18 13:10] sant0ro commented on #42
I will change Bot Command API, to Override Rank Permissions option in bot_commands table.

[2016-01-18 15:36] ImNotSatan commented on #42
Sweet thx

[2016-01-19 07:21] dm5wg commented on #41
Thanks, it works!

[2016-01-19 21:48] KubboSO opened #43 "New Bug List"
- The command : refresh_catalogue
- " Buy as a gift " in the catalog
- Battle Banzai is not working properly
- Football is not working properly
- Skateboarding is not working

- Were bought with " Limited Edition " in the catalog Rare since not counted , for example, the number 10 other sold Number : 10

- The Limited Edition furniture there following error : https://gyazo.com/f03ed36d19150badf170

[2016-01-19 21:50] sant0ro commented on #43
Going to see these bugs.

[2016-01-19 22:03] sant0ro commented on #43
Please don't Caps.

[2016-01-19 22:09] KubboSO commented on #43
I find the emulator very great, only the problem is the existence of these few bugs yet

[2016-01-19 22:25] dm5wg commented on #41
After few hours I'm still having troubles.

![image](https://cloud.githubusercontent.com/assets/16397685/12433908/f31a5a8e-bf03-11e5-8c6f-123362feee42.png)

[2016-01-19 22:38] dm5wg commented on #43
After few hours I have this:

![image](https://cloud.githubusercontent.com/assets/16397685/12434232/c6f7d240-bf05-11e5-9e4f-4060a837983e.png)

[2016-01-19 23:04] ImNotSatan commented on #43
@dm5wg not just you

[2016-01-20 18:45] ImNotSatan opened #44 "[Request] (not an issue) Wordfilter Rewrite/Improve"
I would like to see the word filter like phoenix:

For example, i tink the IDs in the blackword table are unneeded, and wold love to see a replacement table

[2016-01-20 19:21] ImNotSatan opened #45 "Shutdown bug"
Keeps stucking at

Saving inventairy content...

For me

[2016-01-20 19:33] sant0ro commented on #44
Sorry i didn't understood. Explain better

[2016-01-20 19:34] sant0ro commented on #45
Some times that happens. Will check why

[2016-01-20 19:47] ImNotSatan commented on #44
Yupi has

If you saw a word in the blackwordfilter

It always changed to bobba

Phoenix has

replacement per word wich is quite sweet

[2016-01-20 22:25] sant0ro commented on #44
Change in wordfilter.ini ...

[2016-01-20 22:32] ImNotSatan commented on #45
For some reason the bug stopt occuring not sure why.

[2016-01-20 23:57] ImNotSatan commented on #44
No i ment like, replacemet for each word

A diffrent replacement per word

[2016-01-21 11:28] sant0ro commented on #44
That is exactly what i said --'

[2016-01-21 11:28] #44 closed

[2016-01-21 11:28] sant0ro commented on #45
I fixed the bug with last commit. I think.

[2016-01-22 15:12] #45 closed

[2016-01-24 02:32] ImNotSatan opened #46 "Trading still defect after new packets"
http://prntscr.com/9u19qq

[2016-01-24 13:21] sant0ro commented on #46
Wow Trading Design is different now?

I will give a look.

Thanks!

[2016-01-24 13:28] sant0ro opened #47 "Yupi Emulator: Main Issue Reporting List"
# Main Issues List.
- **Described in Answers.**
- **Referenced More Details in First Answer**

## Refencing Collaborators:
- @trylix
- @BurakDev
- @Rockster34
- @SirJamal
- @iamdroppy
- @CineXMike

[2016-01-24 13:28] #43 closed

[2016-01-24 13:28] sant0ro commented on #47
#43

[2016-01-24 14:46] #37 closed

[2016-01-24 14:46] #42 closed

[2016-01-24 14:46] #46 closed

[2016-01-24 21:54] ImNotSatan opened #48 "Rights order wrong"
For some reason if you select someone>actions>

It always starts at: Remove Rights

so if you want to give rights you have to click Remove Rights, and then Give Rights again for some reason.

[2016-01-25 11:03] sant0ro commented on #48
Rooms or Groups?

[2016-01-25 11:08] dm5wg commented on #47
Nice!

[2016-01-25 11:42] ImNotSatan commented on #48
Rooms

[2016-01-25 11:45] sant0ro commented on #48
Will check it after my exam.

[2016-01-25 12:55] ImNotSatan commented on #48
Aye mate gl @ ur exam

[2016-01-25 13:30] ovflowd commented on #47
**Referenced Issues**
1. Referenced #48 Rights Order Wrong
2. Referenced #22 Helper Tools List
3. Referenced #50 Small Bug List
4. Referenced #53 Pets Bugs
5. Referenced #43 New Bug List
6. Referenced #37 List of Bugs
7. Referenced #46 Trading Bugs
8. Referenced #42 Bots Handitem FIXED
9. Referenced #15 Can't buy gift
10. Referenced #22 Helper Tools Issues
11. Referenced #52 Some Small Bugs
12. Re

[2016-01-25 13:30] #48 closed

[2016-01-25 13:40] jordynegen11 opened #49 "Wired interactiontypes not correct"
Please update the SQL with an updated catalog

[2016-01-25 13:42] sant0ro commented on #49
The Catalog is Third Party and under Development.
Someone can do that if want.

[2016-01-25 13:43] jordynegen11 commented on #49
How do you test your Wired then?

[2016-01-25 13:44] sant0ro commented on #49
pixarhotel.com.br We changing and updating catalog and interaction types.

[2016-01-25 13:48] jordynegen11 commented on #49
Ah okey, and can you be so nice to give us the catalog_funitures and catalog_items of the wired?

[2016-01-25 14:42] sant0ro commented on #49
The catalog isn't done, we writing it. 40% done. Is hard to create a totally correct catalog. With all correct interactions :/

[2016-01-25 15:36] jordynegen11 commented on #49
Okey, np we wait.

[2016-01-25 19:00] sant0ro commented on #47
Issued: refresh_catalogue isn't sending outgoing message composer. But if you give f5 you will see new catalogue, also restart works for everyone see new catalogue.
Observation: I will fix why isn't sending outgoing composer.

[2016-01-25 19:02] sant0ro commented on #47
Issued: Some Times Room's Threads Crashes Inexperatelly making the Room Unloads and appears with 0 users. You can enter but not move, only teleport. That gives Exception. After restarting everything appears normal.
Observation: Will try to search from where is.

[2016-01-25 19:04] sant0ro commented on #47
**Issued**: Some times when try shutdown/restart freezes in Saving Inventary Content
**What i think is**: Some Foreign Key didn't allowing Update Data.
**Which i think is**: Or pets, or group or bots data.
**How to reproduce**: Try enter in a room with pets or bots or groups, change some data like wait the bot or pet walk or change some group data. If when you try restart freezes, maybe is that. T

[2016-01-25 19:07] sant0ro commented on #47
**Issued**: Limited Edition Doesn't Count Down
**Informations**: Appearly when you update Limited Edition furni state the Image of LTD disappears and also Doesn't count down when buy LTD.
What i think is: Maybe the Emulator isn't storing that the item is LTD, so when exists Item Update the LTD disappear. And countdown doesn't exists.
**Weird**: LTD Appears in Inventory and After Placing, maybe the

[2016-01-25 19:08] sant0ro commented on #47
**Issued**: Trading doesn't work.
**Images**: I saw the Trading box with Illumina Design.
**I'm lazy**: Does the trade box design changed?
**What can be**: I really don't know if structure is outdated or wrong. But appears message saying the User Isn't able to Trade. Mail confirmation? Packet for NUX user?
**Observation**: Will try to reproduce and fix it.

[2016-01-25 19:12] sant0ro commented on #49
Closed because is not an issue. Only catalog with wrong interaction_types setted.

**How to fix**: I'm working in a good catalogue for Yupi.

[2016-01-25 19:12] #49 closed

[2016-01-25 19:13] sant0ro commented on #47
**Issued**: #15 Gift Problem. Reason: Unknown
**What i will do**: First check the other bugs, and after that will check that
**What i think is**: Wrong code, or Outdated Packet Structure, or wrong query. I din't checked already that.
**Observation**: This is not priority now, first fix other things. But i will fix this.

[2016-01-25 19:13] #15 closed

[2016-01-25 19:15] sant0ro commented on #6
I think is done. Only need Improvements. This is not anymore Issue. Will reopen this when i need to continue working in this.

The Issues are:
+ Pet Command's ID is different from Client side Command ID.
+ Pet doesn't follow owner, When try a lot of packets are sent (outgoing) (already fixed the a lot of packets, but pet doesn't follow owner.)

[2016-01-25 19:15] #6 closed

[2016-01-26 12:29] sant0ro commented on #47
**Issued**: Sometimes freezes as 76% when try to Login
**Probably Reason**: When you Add Youtube Videos
**Observation**: Will try to fix this too

[2016-01-26 12:32] sant0ro commented on #47
**Issued**: If you increase highly your MySQL Spool, sometimes depending your MySQL configuration will give "Too Many Connections". As the Yupi doesn't uses Persistente Connections, Data will be lost.
**How to Fix**: Decrease your "db.pool.maxsize" on Main.ini
**Observation**: I will commit with a really low value. You can change it at your risk.

[2016-01-26 12:40] sant0ro commented on #47
**Issued**: Maybe Yupi isn't closing Connections of MySQL, that makes the Pool Increase Highly, and when reach the max can't continue.
**What can be**: Probably wrong code in Yupi
**Observation**: I will try to fix it.

[2016-01-26 12:46] sant0ro commented on #47
**Issued: Create Ticket Issues
**Problems**:
+ When click Intimidate Reasons automatically send without selecting the user. That makes a little weird bug.
+ Only can select Intimidate, other Reporting doesn't work
**What can be**: Maybe isn't coded, or coded not properly.
**Observation**: Will try to fix it.

[2016-01-26 12:49] sant0ro commented on #47
Referenced #23

[2016-01-26 12:49] #23 closed

[2016-01-26 12:50] sant0ro commented on #7
@Rockster34 Will you do this?

[2016-01-26 12:51] sant0ro commented on #9
Only need now Improve the Groups Forums Posts Table, and some other things.
After that i think is done.

[2016-01-26 13:39] Rockster34 commented on #7
Yes i'll do that

[2016-01-26 22:55] ImNotSatan opened #50 "Small bug list"
- Fastwalk is not coded

- Onewaydoors verry buggy, if you use one at the end of the room you get stuck/room craches

[2016-01-26 23:01] ImNotSatan commented on #50
Stacking tile also does not work properly i tink

[2016-01-27 00:50] ImNotSatan commented on #50
catalog_furnitures: enableid not working

[2016-01-27 11:21] sant0ro commented on #50
whisperroom is a global whisper not room only < Wrong. Gives Whisper for everyone in the room.
builds club expires shows when your around 1hour (might be swf related) < change default time in users table
pets listen to commands but they do not actually sit when you tell them to < already said that the command id isn't the same in habbo client, need to check how they enumerate the cmds.

Also pleas

[2016-01-27 12:10] ImNotSatan commented on #50
Whisperroom sends a whisper to everyone, wich is in a room
http://prntscr.com/9vgdhb

I tink your right on the buildersclub, and pets.

[2016-01-27 13:52] sant0ro commented on #9
Finished. Nothing to improve in Groups Tables now.

[2016-01-27 13:52] #9 closed

[2016-01-27 13:59] sant0ro commented on #47
Removed answers from Fixed Items.
Updated Issue
Updated Answers with probably fixed.

[2016-01-27 14:14] sant0ro commented on #47
**Issued**: Proxy doesn't work
**Reason why**: CrossDomain Policy doesn't uses Proxy Port.
**Observation**: Will try to fix this.

[2016-01-27 15:17] sant0ro commented on #50
Can you put the error code in Github Markdown?

Is more easy to read.

[2016-01-27 16:14] ImNotSatan commented on #50
Ah did not know how to do that thx

[2016-01-27 16:30] ImNotSatan opened #51 "Critical Exceptions (new source)"
I keep getting
<pre>MySql.Data.MySqlClient.MySqlException (0x80004005): There is already an open DataReader </pre>

<pre>

MySql.Data.MySqlClient.MySqlException (0x80004005): There is already an open DataReader associated with this Connection which must be closed first.
   at MySql.Data.MySqlClient.ExceptionInterceptor.Throw(Exception exception)
   at MySql.Data.MySqlClient.MySqlCommand.Throw(Exce

[2016-01-27 18:53] sant0ro commented on #51
Change DB Poolsize, i will try to search if this happens with me.

[2016-01-27 19:14] ImNotSatan commented on #51
My poolsize is min:1 max:50

This has NEVER happend on the previous version.

[2016-01-27 23:52] #51 closed

[2016-01-28 10:22] sant0ro commented on #51
Issue totally fixed yeah? Thanks for the FeedBack!
For your help of every time, your name will be added in Credits of Threads.

[2016-01-28 12:46] sant0ro commented on #50
Ambassador Chat only work if you're the rank of Ambassador.
Also the messages only arrives for who is Ambassador. Not for Staff and Ambassadors.

Monster Plants error? Check your catalog. In pixarhotel.com.br works perfectly.

I Will see OneWay gates.

[2016-01-28 12:47] sant0ro commented on #50
Room Promotion Works, but you freezes. Need reenter room. After reentering room, the Promotion Enables.

I think this happens because the 'buy" room promotion packet has wrong structure.
Because the room doesn't crashes. You only leave the room in emulator logs.

[2016-01-28 12:49] sant0ro commented on #47
**Issues**: Room Promotions make you freeze (in emulator leave) the room.
**What happens**: The Room Promotion buys 100% after reentering room the promotion appears.
**Problem**: Probably wrong structure, but don't sure, generally when is you receive Hotel DC and not Room Freezing.
**Observation**: Will try to fix.

[2016-01-28 12:49] #50 closed

[2016-01-28 12:49] sant0ro commented on #20
Useless Issue.

[2016-01-28 12:49] #20 closed

[2016-01-28 12:50] sant0ro commented on #7
@Rockster34 Any progress?

[2016-01-28 20:37] ImNotSatan commented on #47
Shutdown issue still occurs

[2016-01-28 23:56] ImNotSatan commented on #51
Sometimes still getting this Exception

<pre>
Bug during user login: MySql.Data.MySqlClient.MySqlException (0x80004005): There is already an open DataReader associated with this Connection which must be closed first.
   at MySql.Data.MySqlClient.ExceptionInterceptor.Throw(Exception exception)
   at MySql.Data.MySqlClient.MySqlCommand.Throw(Exception ex)
   at MySql.Data.MySqlClient.MySqlCommand.Ex

[2016-01-29 02:50] ImNotSatan opened #52 "Some small bugs/issues"
- **Mannequins**
  In your db the interaction type is: mannequi
  But it should by: mannequin
  Would be a typo, or on purpose
  Annyways it broken, after your name it correctly it disconnects you on click

- STATE: **fixed**

- **Whisperroom command**
  Sends a whisper to every room in the hotel, not the room your in so it does the same as whisperhotel

  - **New code: (this is the wired message

[2016-01-29 05:23] BryanSuero commented on #52
I think the mannequins is mal formed packet

Here is a new packet from Habbo: //[0][0][0]V[3]“ÿÿÿÿ[0]1hr-893-42.hd-190-14.ch-215-71.lg-275-64.sh-295-64[0][1]m[0]Habbo es lo mejor :)[0][0][6]C

And the emulator first put the gender, after figure, and after outfit_name, i going to try fix that.

[2016-01-29 05:55] BryanSuero commented on #52
I fixed that in Yupi.Game.Catalogs.CatalogManager (CatalogManager.cs) in Interaction.Mannequin i change the look.

Replace: case Interaction.Mannequin:
                        extraData = string.Concat("m", Convert.ToChar(5), "ch-215-92.lg-3202-1322-73", Convert.ToChar(5), "Mannequin");
                        break;

To: case Interaction.Mannequin:
                        extraData = string.Conca

[2016-01-29 10:25] sant0ro commented on #52
Hello @BryanSuero can you Fork my repository and do a Pull Request with this fix?

Thanks!

[2016-01-29 10:27] sant0ro commented on #52
Hello @ImNotSatan i know the bug of the DataReader.
The problem that happens is sometimes the query execution didn't finished and the Emulator try to use the Instance for other things.

Because i coded reusable Connections.
I need to code to the Emulator wait the query finishes.

Sometimes aleatory he reuses, so i need to code to check if is in use, before try to reuse. Going to code this today.

[2016-01-29 10:28] sant0ro commented on #52
Also @ImNotSatan these wireds works, you only need put correct interaction type like is said in InteractionTypes.cs

With me the wireds works.

[2016-01-29 10:32] sant0ro commented on #47
**Issued**: Sometimes the Reusable MySQL Connection try to use a Connection that is already being used.
**How to fix it:** Making a check if the Connection has already a DataReader (that means if is already executing some procedures) And use other that isnt.
**Observation**: Will try to fix it.

[2016-01-29 12:19] ImNotSatan commented on #52
@sant0ro what i ment about the wireds was, like this
![Gif](http://secretup.com/uploads/1ezgif.com-video-to-gif.gif?img=18)

[2016-01-29 13:17] sant0ro commented on #52
Wow! That's really weird.

@BryanSuero can give me a help?

[2016-01-29 15:48] ImNotSatan opened #53 "Pets/Roompets totally bugged & WalkInternalLink"
- Bug list:
- Interaction.WalkInternalLink not working
- Interaction.QuickTeleport buggy (the habbo public room teleport arrow)

  (Tested on pixar)
  When you pickup your pets and :reload, they are back
- Horses saddle bugs

- ![IMG](http://i.imgur.com/zTUBzuw.png)
- You can remove a horses saddle, while riding it and stay on the horse
- There is no dismount for a horse (Only picking it up)
- Not

[2016-01-29 16:03] sant0ro commented on #53
+ WalkInternalLink? What is that?
+ QuickTeleport? What is bugged? The effect?
+ Horse Saddle isn't totally coded.
+ As i said Pets aren't done, i said that to you, and for everyone in dev thread and issues.
+ Yes you can't dismount. Isn't coded i think. Or bad coded.
+ The horse moonwalks, randomly sits etc. WTF?
+ When you pickup pets they go back to inventory, :reload make theys back? Idk why,

[2016-01-29 16:03] #53 closed

[2016-01-29 16:05] sant0ro commented on #47
**Issued**: Can't dismount from Horse Saddle
**Issued**: You can remove saddle while mounting.
**Issued**: Only say from the room if you pickup.
**Reason**: Pets aren't coded totally, need to finish coding and rewriting
**Observation**: Pets isn't done, i will code this/fix this, but isn't totally major now.

[2016-01-29 16:08] sant0ro commented on #47
**Issued**: Baby Pets Bad Coded
**Sub-Issued**: baby pets aren't really coded, onliest way is using a pet breed tool, but pet breed tools doesn't working properly
**Sub-Issued**: Pet Breeding doesn't works.
**Reason**: Pet Breeding is bad coded and doesn't finished code, also baby pets aren't coded. The way that are implemented is really bad.

[2016-01-29 16:14] sant0ro commented on #47
**Issued**: Mod Tools Problems
**Problems**:
- Can only do Bullying Report (First Option - Automatic)
- Automatic Reporting doesn't able you to select the reported user, weirdly when you select a user to report this user need to be selected, but the box with select user appears as same time with the sucessfull report sent box.
- Can't do other reports
- Default Message Presets aren't coded, that m

[2016-01-29 16:15] sant0ro commented on #22
@trylix Closing this, please reopen when you're implementing this.

[2016-01-29 16:15] #22 closed

[2016-01-29 16:15] sant0ro commented on #52
Referencing in Major Thread, closing.

[2016-01-29 16:15] #52 closed

[2016-01-29 16:16] sant0ro commented on #47
**Issued**: Guardians System Doesn't Work
**Reason**: Aren't coded
**Observation**: Will try to fix it.

[2016-01-29 16:17] sant0ro commented on #47
**Issued**: Builders Club Problems
**Problems**:
- When you pickup item doesn't remove from count used items
- Message after 60 minutes :_Isn't really a bug, you only need change max time, change to high value._

[2016-01-29 16:19] sant0ro commented on #12
Referenced in Major Issue.

[2016-01-29 16:19] #12 closed

[2016-01-29 16:20] sant0ro commented on #40
Referenced Major.

[2016-01-29 16:20] #40 closed

[2016-01-29 16:24] sant0ro commented on #47
**Issued**: Home Room
**Problem**: Can't set Home Room
**Observation**: Will try fix it.

[2016-01-29 16:25] sant0ro commented on #47
**Issued**: Groups Issues
**Problems**:
- After creating room you stay as pending
- Option for delete group appears for everyone (or only staffs??)
- When try to delete group says the group has not room, but if you enter in the room you can delete it, after deleting it the group continue appearing in your profile, only after restart disappears (or after reenter hotel for you??)
**Observation**: Wi

[2016-01-29 16:26] sant0ro commented on #21
Closed, Referenced.

[2016-01-29 16:26] #21 closed

[2016-01-29 16:30] #19 closed

[2016-01-29 16:35] sant0ro commented on #25
The of functions conflict when has more than one in the bedroom

First in operation
https://gyazo.com/04332b5c1d3f2f6cecf746d5a6cabfad

Second in operation
https://gyazo.com/9fbaa11ec4ece720adf14d5d47bf0abf

Note what the condition selected the green module for have control from below however it interferes with the side
https://gyazo.com/9f8b4191e4a7e6b4bd719b887d3665ba

[2016-01-30 20:08] ImNotSatan opened #54 "Overflow bugs"
I assume this problem occurs with:
Wireds, Customrooms

Error logs:
http://pastebin.com/2Q3Kgg18

[2016-01-30 20:15] ImNotSatan commented on #54
Also happens with inventory

[2016-01-30 20:22] sant0ro commented on #54
Thanks. I will see later.

[2016-01-30 21:17] sant0ro commented on #54
I didn't understood the also happens with inventory.

I tested in PixarHotel no-one wired give overflow
Also Custom Rooms doesn't give
Also Inventory now 100%...

[2016-01-31 00:42] ImNotSatan commented on #54
These overflows just come on random times :[

[2016-01-31 01:24] ImNotSatan commented on #54
EDIT: will try this with the newest source, see if i still get the errors

[2016-01-31 15:38] sant0ro commented on #54
...

[2016-01-31 15:49] sant0ro commented on #47
**Satan**: Inventary is saved but can't go out from Saving Inventary Content Loop.
WHYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

[2016-01-31 23:33] ImNotSatan commented on #54
Probleem seems solved did not see anny new Overflow errors

[2016-01-31 23:33] #54 closed

[2016-01-31 23:47] bblackv commented on #54
did u fixed anything?

[2016-02-01 00:29] ImNotSatan opened #55 "Shutdown issue /Detailed"
Shutdown bug:

This took me quite a while to figure out lol but,

In my case it stucked here:
<pre>current2.GetHabbo().GetInventoryComponent().RunDbUpdate()</pre>

At this code from RunDbUpdate

<pre>
if (_mRemovedItems.Count > 0)
            {
                lock(_mRemovedItems)
                {
                    using (IQueryAdapter queryReactor = Yupi.GetDatabaseManager().GetQueryReactor())

[2016-02-01 00:32] ImNotSatan commented on #54
@bblackv

No overflowd just fixed it in the newest source release

[2016-02-01 10:50] sant0ro commented on #55
See the last commit.
I also thinking there.
Also doesn't make sense emulator save again all data, since at user disconnection and room unloading their respective data are saved.

[2016-02-01 11:01] ImNotSatan commented on #55
Well (for me)

I had alot of checking writelines,

It only saves when it skips
                        GetClient().GetHabbo().CurrentRoom.GetRoomItemHandler().SaveFurniture(queryReactor);

Because there is nothing to update rsomthing?

The SaveFurniture has never succesfully executed

Really weird why it doesnt work tbh

[2016-02-01 11:15] sant0ro commented on #55
I'm checking the code. Patiente plz.

[2016-02-01 11:37] ImNotSatan commented on #55
Check this:
https://www.youtube.com/watch?v=G1Jb2wwpjk0&feature=youtu.be

This will make u WTF

Mostly at the end, thats why it doesnt save

(Dont mind the Client.Values error in the emu l0l, wrong writeline)

[2016-02-01 13:01] sant0ro commented on #55
Fixed.

[2016-02-01 13:01] #55 closed

[2016-02-01 20:21] ImNotSatan opened #56 "Blackwordfilter bug"
If you type a word witch is filtered in a room it works fine

But if you type it in private chat to someone you will see this

![img](http://i.imgur.com/NrroXVH.png)

And when you close that this comes

![img](http://i.imgur.com/wyuiibU.png)

Also for some weird reason you cannot have a dot (.) in ur blackwordfilter

[2016-02-01 21:03] sant0ro commented on #56
Yea but is exactly how habbo works.

[2016-02-01 21:03] BryanSuero commented on #56
Sant0r0, sorry for write here lol, i fix the home room

[2016-02-03 12:00] Zortex04 opened #57 "furnidata error"
hey another error here xD the 1.xml is a xml file and the directory is right but it still says

The XML content of the FurniData is in an invalid XML format, Details:

System.Xml.XmlException: An XML comment cannot contain '--', and '-' cannot be the last character. Line 9, position 7.
   at System.Xml.XmlTextReaderImpl.Throw(Exception e)
   at System.Xml.XmlTextReaderImpl.ParseCDataOrComment(XmlN

[2016-02-03 13:17] sant0ro commented on #57
This is only with you.
You don't know how to use Yupi.
And don't have valid SWF pack.

[2016-02-03 13:17] #57 closed

[2016-02-03 13:18] sant0ro commented on #57
See if your're using IIS and IIS has XML Wrapping and Mime Type.
Really weird. Show me what appear in browser.

[2016-02-06 09:34] Zortex04 opened #58 "SQL Error"
hey when importing the sql file it says this

SQL query:

DROP EVENT `daily_pet_respect_points`
MySQL said: Documentation

#1539 - Unknown event 'daily_pet_respect_points'
i dont know if daily respect points are important or not

[2016-02-06 12:23] sant0ro commented on #58
Are.
Only remove the DROP EVENT LINE.
Is because you doesn't have these EVENTS.

[2016-02-07 09:08] Zortex04 commented on #58
??? i am not trying to drop them but it says that when importing the sql file but now on a hosted mysql it says

SQL query:

DELIMITER $$--
-- Eventos
--
DROP EVENT `daily_pet_respect_points` $$

MySQL said: Documentation

#1044 - Access denied for user 'b18_16882580'@'192.168.0.%' to database 'b18_16882580_habbo'

[2016-02-07 13:07] sant0ro opened #59 "Trade Packet is Wrong!"
TradeAddItemOfferMessageEvent=282 Isn't the Correct Packet!

[2016-02-07 14:04] sant0ro commented on #58
Also need change the @localhost and these things, to your user.

[2016-02-07 18:18] ImNotSatan opened #60 "users_online removed?"
Why did you remove this in: **ServerCPULowPriorityWorker**...

<pre>
                    using (IQueryAdapter queryReactor = Yupi.GetDatabaseManager().GetQueryReactor())
                    {
                        if (clientCount > _userPeak || realOnlineClientCount > _userPeak)
                            _userPeak = realOnlineClientCount;

                        queryReactor.RunFastQuery(stri

[2016-02-07 18:27] ImNotSatan opened #61 "Floorthickness does not save"
if you change the floorthickness to smalles and type :reload its back to big

Also you prolly made a typo here:
**RoomManager.cs**
<pre>
queryReactor.AddParameter("wallthick", Yupi.BoolToEnum(room.RoomData.AllowPets));
</pre>
Says it all... xD

[2016-02-07 21:47] BryanSuero commented on #60
clientCount and realOnlineClientCount was the same.

[2016-02-07 22:43] ImNotSatan commented on #60
Yeah but its complete removed and the server_status does not update now annymore

[2016-02-08 03:04] BryanSuero commented on #60
That is because the if in this case is so stupid I going to check.

[2016-02-08 12:21] sant0ro commented on #60
Because is really useless do a query do Database saying who many users is only if you can count in your cms doing the following query:

<pre>
SELECT COUNT(online) FROM users WHERE online = '1';
</pre>

Is really pretty better.
Since isn't good every 10 seconds do a Query to Update the Count.
The ServerCPULowPriorityWorker is attached to Main Game Loop. If this Class crashes maybe main Game Loop ca

[2016-02-08 12:22] sant0ro commented on #59
Fixed.

[2016-02-08 12:22] #59 closed

[2016-02-08 12:23] sant0ro commented on #61
Wow kkk

[2016-02-08 12:23] sant0ro commented on #61
Thanks i will fix.

[2016-02-08 12:55] #61 closed

[2016-02-08 19:32] JAysz0n opened #62 "Relationships don't update"
Relationships doesn't work because the Id's are not auto incremented;

DROP TABLE IF EXISTS `users_relationships`;
CREATE TABLE `users_relationships` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `target` int(11) NOT NULL,
  `type` enum('1','2','3') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;

[2016-02-08 23:07] ImNotSatan commented on #62
Relationships work fine for me?

[2016-02-08 23:20] hotelmiami opened #63 "chatlogs don't save"
When I reconnect and get back in the room, the chatlogs are gone ..

[2016-02-08 23:55] sant0ro commented on #63
This bug doesn't exist.

[2016-02-08 23:55] #63 closed

[2016-02-08 23:56] sant0ro commented on #62
This bug doesn't exists.

[2016-02-08 23:56] #62 closed

[2016-02-08 23:56] #58 closed

[2016-02-08 23:56] #60 closed

[2016-02-08 23:57] sant0ro commented on #56
Only change the portuguese word to english.

[2016-02-08 23:57] #56 closed

[2016-02-09 12:26] JAysz0n commented on #62
http://prntscr.com/a0yrf9
This is what happens to me when I use your table structure, so no relationship will be shown.

[2016-02-09 14:20] sant0ro commented on #62
ID Is an unused field that will be removed.

[2016-02-10 18:27] ImNotSatan opened #64 "Weird loggin"
For some reason at logging in:

YupiLogManager.LogException(ex, "Registered Login Exception.", "Yupi.Users");

It does not display/write an error in the logs folder

(After a while i addded the error manual and saw it was that online_seconds in user_stats wasnt set to be default: 0)

But somthing seems wrong with some loggings.

**Also**
In the clothes editor, if you change gender, the look does n

[2016-02-10 23:28] sant0ro commented on #64
You're dummie!
See commit logs!
Now Logs goes on Database in server_system_logs.

Closed.

[2016-02-10 23:28] #64 closed

[2016-02-10 23:30] ImNotSatan commented on #64
Oow lool hahaha i missed that

[2016-02-10 23:31] sant0ro commented on #64
;)
Remember see commits before say that exists bugs haha

[2016-02-11 17:14] ExiT33 opened #65 "Hey, Quests not work"
Hi to you, Why Quests does not function ? would not you fixed it ?

[2016-02-12 00:38] sant0ro commented on #65
Quest was Deactivated.

[2016-02-12 00:38] #65 closed

[2016-02-13 22:31] sant0ro opened #66 "Yupi Statement!"
As you can see our new branch "nio" is under development. When the Beta code goes to Work, will be switched to "master" branch.

What means the new "nio" branch?
Following the Main Milestone the Major things for being developed now are:
1. Connection and Socket System/Service/Management Rewrite
2. Also will be Rewrited GameClientManager and GameClient
3. The Encryption System will be totally remov

[2016-02-14 13:56] #1 closed

[2016-02-15 16:34] ovflowd opened #68 "Change Helios-io to DotNetty"
Helios-io will not longer be the NIO Framework for Yupi.
We will use now [Microsoft Azure/DotNetty](https://github.com/Azure/DotNetty)

[2016-02-17 21:09] ovflowd commented on #68
Done.

[2016-02-17 21:09] #68 closed, assigned to nobody

[2016-02-17 21:10] ovflowd commented on #66
NIO Rewrite as Far i can see is Done.

[2016-02-18 15:08] ImNotSatan opened #69 "'extra_data' in 'items_rooms'"
**(this is with the new commits)**
I found quite some people sturggling with this issue,

In your old database (before the release of the new cata etc)

'**extra_data**' was a **varchar(7000)**

But in the newest database (new cata etc)

You changed the **varchar(7000)** to a **text**

Because of this people cant buy furni and for some weird reason, when i buy furni with the **extra_data** as a **

[2016-02-18 18:50] ovflowd commented on #69
Ok i will search about it.

[2016-02-20 17:30] ImNotSatan opened #70 "Multilog bug"
[youtube](https://www.youtube.com/watch?v=Iot-hBbiGzg&feature=youtu.be)

It results into 1 connection only, wich is verry weird

If 1 users connects on th same, ip you basicly disconnect (but your sessions stays active), and your able to control the other user (if the user is in the same room)

[2016-02-21 16:48] ovflowd commented on #70
I can't watch the video.
It's privated.

[2016-02-21 16:49] ovflowd commented on #70
How you can control it if disconnects?
If you enter in a new navigator the old user is disconnected. with reason entered other client.
but if the conn id is the same, the new connection is destroyed and the old remains. Since some times people open navigator accidentally.

[2016-02-21 17:46] ImNotSatan commented on #70
I unprivated it, and idk its really really weird

But this is with diffrent users accounts (also diffrents sso)

i feel like sessions are ip-linked for some reason
[youtube](https://www.youtube.com/watch?v=Iot-hBbiGzg&feature=youtu.be)

[2016-02-22 11:36] ovflowd commented on #70
Wow that's really weird! Are different users yeah?

[2016-02-22 17:10] ImNotSatan commented on #70
Yeah

[2016-02-22 20:56] ovflowd commented on #70
Fixed in Next Commit. Wait the Commit.

[2016-02-22 21:01] #70 closed, assigned to nobody

[2016-02-29 22:46] #69 closed, assigned to nobody

[2016-03-01 19:26] RayRenirie opened #71 "Pick up pets bug"
When I pick up a pet (tested with that chicken pet) I can't walk or place any furniture back on that place.

[2016-03-02 16:54] ovflowd commented on #71
Really? I will check that.
Are u using last Yupi?

[2016-03-02 16:55] RayRenirie commented on #71
I'm using that master, tested it on the latest and that roger 1.0.0 version.

[2016-03-02 16:56] ovflowd commented on #71
Pleae try downloading latest ZIP from "nio" branch. And Compile it.

[2016-03-02 16:57] RayRenirie commented on #71
I can't compile the nio branch, it gives me a lots of errors.

[2016-03-02 16:57] ovflowd commented on #71
Which errors?

[2016-03-02 16:58] RayRenirie commented on #71
Severity    Code    Description Project File    Line
Warning CS7035  The specified version string does not conform to the recommended format - major.minor.build.revision    Yupi    C:\Users\Ray\Desktop\Yupi-nio\Yupi-nio\Yupi\Properties\AssemblyInfo.cs  20
Error       "git.exe" exited with code 128. Yupi    C:\Users\Ray\Desktop\Yupi-nio\Yupi-nio\Yupi\Yupi.csproj 756

Oh, it is 1 error and 1 warning

[2016-03-02 17:00] ovflowd commented on #71
The Warning is nothing to matter.
The git,exe is because you Didn't Cloned the REPO but Downloaded the ZIP..
You can clone using Github Desktop. (You Need Git..)

Because Yupi has now integrated Version Scanning..

[2016-03-02 17:02] RayRenirie commented on #71
I will try! Thanks.

[2016-03-02 23:12] Killua99x opened #72 "Problem with same IP and Proxy ( Same IP for all users )"
When you use a proxy or the same IP (if you are using a proxy is like having all the same IP) for two clients the emulator does disconnect one of the two users online, so you can use either a proxy, you can solve this error in future versions? Thanks in advance

[2016-03-02 23:30] ImNotSatan commented on #72
Ow yeah l0l

[2016-03-03 11:36] ovflowd commented on #72
Sorry but i didn't understood. Can explain better?
Are using last version of Yupi?

[2016-03-03 14:37] ImNotSatan commented on #72
He ment this,

When you use a TCP proxy

All users basicly have the same
Ip (the proxys ip)

But the users are limited to 1 per ip

so basicly u can have MAX 1 online with a tcp proxy

[2016-03-03 15:32] Killua99x commented on #72
@ImNotSatan Yes, Thanks and sorry, i'm italian and i study english

[2016-03-03 15:33] Killua99x commented on #72
"But the users are limited to 1 per ip" how can i edit it for support infinity user with 1 ip?

[2016-03-03 19:07] Killua99x commented on #72
I dont understand this problem http://prntscr.com/aash8k a few minutes ago I hadn't.

[2016-03-03 19:18] Killua99x commented on #72
With new Version of Yupi i have this error http://prntscr.com/aasngi @sant0ro

[2016-03-04 16:16] ovflowd commented on #72
New Version is fixed. (I fixed now)

[2016-03-04 16:16] #71 closed, assigned to nobody

[2016-03-04 16:19] #72 closed, assigned to nobody

[2016-03-04 16:21] Killua99x commented on #72
@sant0ro you fixed limited connection for IP?

[2016-03-04 17:17] Killua99x opened #73 "Error GitVersion"
Hi, i have the latest version for yupi and i have this error http://prntscr.com/ab5ycm ( i download now the latest version ) @sant0ro

http://prntscr.com/ab5zc7

[2016-03-04 19:11] Killua99x commented on #73
http://prntscr.com/ab7kzi on Windows 10 i have this error

[2016-03-04 20:26] ovflowd commented on #73
Hi, clone the Repository using Github Desktop ;) (Don't use Download ZIP)

After Clone, open the Visual Studio Solution File. Click Build, automatically Visual Studio will try recover NuGET Packages.

[2016-03-04 20:29] Killua99x commented on #73
@sant0ro sorry, i dont understand, i have GitHub Desktop on VPS and on my sistem

http://prntscr.com/ab8tg6

---

http://prntscr.com/abh4g3

http://prntscr.com/abh1so

http://prntscr.com/abh1w9

http://prntscr.com/abh23n

[2016-03-05 15:47] ovflowd commented on #73
You need open the Visual Studio Repoistory directly from the folder where you CLONED the repo.

Almost like C:\Users\YouUser\Documents\Github\Yupi...

[2016-03-05 15:47] Killua99x commented on #73
yes i now, I did just that and i have this error

http://prntscr.com/abj5ze

http://prntscr.com/abj64u

i recloned Yupi on Github folder

http://prntscr.com/abj6es

[2016-03-05 18:46] ovflowd commented on #73
Observation: Try Build as x64
And Restore FIRST nuget packages.

Also try deleting .build folder first.

[2016-03-05 18:47] ovflowd commented on #73
Remember that if the NuGET MSBuild Extensions Tools aren't added, the "GitVersion" tool will not be work.

[2016-03-05 19:11] Killua99x commented on #73
Sorry how i can install NuGET MSBuild Extensions Tools ?

[2016-03-05 19:16] Killua99x commented on #73
I try to  delete .build folder and Yupi project can't load

http://prntscr.com/ablx2g

i download again the clone with github application

http://prntscr.com/abm4mq

[2016-03-05 19:48] sant0ro commented on #73
O Yupi já faz isso.. Quando você tenta fazer  Build..

Tente fazer o seguinte:
1. Visual Studio > Tools > NuGET > NuGET Packages Tool (não é o console)
Veja se tá tudo lá.

Pelo que vi no print já tá.

[2016-03-05 19:51] ovflowd commented on #73
That doesn't make any sense.

[2016-03-05 19:51] ovflowd commented on #73
I can't reproduce this bug. The solution is have Cloned Repo, but still doesn't work with u.

[2016-03-05 19:52] Killua99x commented on #73
Boh i have all correctly and dont work

http://prntscr.com/abmgab

http://prntscr.com/abmguq

[2016-03-05 20:52] ovflowd commented on #73
I really can't know what is happening here.

[2016-03-05 20:54] ovflowd commented on #73
Download: https://git-scm.com/downloads
Only Install the Application for Windows, after that relaunch Visual Studio and try Build.

[2016-03-05 20:55] Killua99x commented on #73
Thanks now i try
on my Windows VPS http://prntscr.com/abndj0

I install GIT and i have same error

[2016-03-05 21:06] Killua99x commented on #73
Sorry, ho i can bypass this problem?

[2016-03-05 21:45] ovflowd commented on #73
After install GIT, you need restart PC.

[2016-03-05 21:45] ovflowd commented on #73
(VPS in this case)

[2016-03-05 21:46] Killua99x commented on #73
Ah Thanks! i try!

---

Nothing.. same error

[2016-03-06 00:36] ovflowd commented on #73
Same error?

[2016-03-06 00:37] ovflowd commented on #73
That really doesn't make any sense. Please try using a normal Windows PC, With Windows 7 or Windows 10. Remember using Visual Studio 2015 or later, Community Version or Higher,

Sorry but i can't help. I will attach new Executables in some few days. (New release)

[2016-03-06 00:38] Killua99x commented on #73
yes, i can't resolve it .. I don't understand why it does that is it okay

I try on my laptop with WIndows 10 with visual studio 2015 Enterprise same error

If you put executables could you please fix the problem that every user must have a different Ip?
(insert unlimited IP for users )

with proxy can i have 1 user online

So me and other people can use proxy

Thank you for your patience

[2016-03-06 14:12] Killua99x commented on #73
@sant0ro Sometimes the client goes black, some of the rooms become bugs and after entering those rooms the client goes black

many times after you close the emulator the rooms don't have furnis

[2016-03-06 16:02] ovflowd commented on #73
'If you put executables could you please fix the problem that every user must have a different Ip?
(insert unlimited IP for users )' i didn't understood that.

Also this last comment, is a old version of yupi?

[2016-03-06 16:03] Killua99x commented on #73
Yes @sant0ro now i use the old version of yupi

with proxy i can have 1 user on client because with 2 same IP users can't enter on client

I can't use latest version of yupi for git.exe error con Virtual Studio

[2016-03-06 17:25] ovflowd commented on #73
Old version i don't give support. Wait for new executables ;)

[2016-03-06 17:27] Killua99x commented on #73
@sant0ro Thanks for all!

[2016-03-06 19:14] BryanSuero commented on #73
Here is how I fixed this problem.

**Search for Yupi.csproj**
![Solution for Git problem](https://i.gyazo.com/268c4c3bce0a18973ec13b9b6efbeaad.gif)
**Find and open Yupi.csproj with any text editor**
![Solution for Git problem](https://i.gyazo.com/437fac976a3cf6133d191eb5d3c0585b.gif)
**Search for GitVersion (at the end of the file) and erase like this GIF. save and re-open the project in visual st

[2016-03-06 19:56] Killua99x commented on #73
Thanks!! @BryanSuero Now i have problem with furnidata xD ( i resolve furni data )
Now i have this
http://www.sunake.org/upload/images/2016/03/06/Screenshotfrom2016-03-0621-07-05.png  @sant0ro

[2016-03-06 21:37] BryanSuero commented on #73
Put a correct URL in the setting, and delete the cache of the furnidata.

[2016-03-06 21:39] Killua99x commented on #73
Yes i put the correct url can you see the screen? i dont understand the error

[2016-03-06 22:04] BryanSuero commented on #73
Which screen?

[2016-03-06 22:05] Killua99x commented on #73
this http://www.sunake.org/upload/images/2016/03/06/Screenshotfrom2016-03-0621-07-05.png

[2016-03-06 22:06] BryanSuero commented on #73
Check your config

[2016-03-06 22:15] Killua99x commented on #73
is correct

[code]

[2016-03-06 22:17] Killua99x commented on #73
[code]

[2016-03-06 22:34] Killua99x commented on #73
http://www.sunake.org/upload/images/2016/03/06/Screenshotfrom2016-03-0623-31-04.png

[2016-03-06 22:49] BryanSuero commented on #73
Check your database now, do you have skype or something like that? Or we can talk here https://gitter.im/sant0ro/Yupi

[2016-03-06 22:51] Killua99x commented on #73
yes my mail for skype is pedrowizand@outlook.com

i dont understand the table problem i dont have a log file

[2016-03-06 23:24] BryanSuero commented on #73
I addeed you

[2016-03-07 11:37] ovflowd commented on #73
what is "odb.name=snk"

[2016-03-07 11:37] ovflowd commented on #73
why you putted ODB if is DB?

[2016-03-07 14:05] Killua99x commented on #73
Ops, sorry xD i wrong

---

Sorry now it is correct and i have this problem

http://prntscr.com/acam1l

Unknown column 'id' in 'order clause'

I dont understand that

[2016-03-08 14:40] BryanSuero commented on #73
Kira, that problem is because you had a wrong database, please use the new SQL file.

[2016-03-12 15:45] Killua99x commented on #73
@sant0ro sorry xD i resolved

Yupi has many bugs but I'm sure you will solve

It is the best emulator for me

I use it on www.sunakehotel.com but is in maintenance because it still has many bugs in the rooms, furni etc..

[2016-03-12 20:41] ovflowd commented on #73
Many bugs? Please tell me which bugs.

Yupi doesn't has many bugs....

'-'

You need using Yupi BuiltIn Catalogue.

[2016-03-12 20:44] Killua99x commented on #73
each does not enter the rooms by the users, each both crashes, the client goes black and does crash the user, sometimes users put furni into the room and crash

[2016-03-12 20:45] Killua99x commented on #73
i use yupi on www.sunakehotel.com and have so many bug, users report them to me many times and many time crasho myself when I walk into a room that is reported as the room that does crash

[2016-03-14 20:23] ovflowd commented on #73
With my test hotel that doesn't happens.

[2016-03-14 20:25] Killua99x commented on #73
Boh... i dont know, on my hotel i have that bug.. and other xD

[2016-03-14 20:27] Killua99x commented on #73
And i have problem with proxy, without proxy i canhave a unlimited users with proxy i can have 1 users because all users have the same IP

(TCP PROXY)

[2016-03-15 18:03] arjanterheegde opened #75 "Azure to Yupi"
X

[2016-03-15 18:47] ovflowd commented on #75
As i said before. You simply cannot use Azure Emulator catalogue in Yupi.
You cannot simply add the columns in database.

Yupi is very attached to the types of variables. Also a lot of interaction types, furnitures, etc. changed. A lot of structure.

You need use Yupi built-in catalogue.

Conversion of other catalogues. Aren't supported.

[2016-03-15 18:47] #75 closed, assigned to nobody

[2016-03-15 18:47] ovflowd commented on #73
Closed.

[2016-03-15 18:47] #73 closed, assigned to nobody

[2016-03-15 19:27] RayRenirie opened #76 "Error when starting"
When I try to start the emulator it gives me this error:

http://puu.sh/nHI8e/3947791a21.jpg

[2016-03-15 21:26] ovflowd commented on #76
Need use the Packets Folder that are included in Latest Yupi Version.

[2016-03-16 13:20] #76 closed, assigned to nobody

[2016-03-16 16:15] RayRenirie commented on #76
Now I get this error:

http://puu.sh/nIIDo/9f51c99dfd.jpg

[2016-03-16 16:55] TheDoct0r11 opened #77 "Proposal: Use Github API instead of UPDATES.json"
Hello,
you might want to take a look at [this](https://api.github.com/repos/sant0ro/Yupi/releases) for managing updates instead of using the redundant (?) UPDATES.json

Greetings

[2016-03-16 17:47] ovflowd commented on #76
Please use latest Yupi Database. And you will don't receive this error.

[2016-03-16 17:47] ovflowd commented on #73
Please @KilluaKira create new issue describing this bug.

[2016-03-16 17:49] ovflowd commented on #77
Yes is nice. But as a Free Plan, the API is limited for non-users usage.

If you try to use Github API from methods like Workers, "downloadString", etc. The endpoint will have a bandwith limit.

So this will make emulator crashes, if you reach limit. Or non valid - consistence data.

But if you're accessing API from browser, this will not happen. (Since if you're logged in)...

But is a good idea.

[2016-03-16 19:03] Killua99x commented on #73
Yes Thanks, one moment

[2016-03-16 19:15] Killua99x opened #78 "My Bugs"
Very often the rooms become bugs and you can not get in otherwise crash the client, when you take faster furni may crash, when you click on the icon at the top right of the client to buy HC if you do not buy from the catalog prior crashes, when using a TCP Proxy you can not have more than one online user.

@sant0ro

Were it not for these things for me would be completely perfect

[2016-03-16 19:51] TheDoct0r11 commented on #77
@sant0ro I've read up on the API Rate limits and as far as I can see, the limit counts per IP and not per Repository. [Source](https://developer.github.com/v3/#rate-limiting)

The only limit that exists for unauthorized requests is to use a User-Agent identiefing the application creating these requests [Source](https://developer.github.com/v3/#user-agent-required)

Also, one should always play it

[2016-03-16 19:58] sant0ro commented on #78
Images and error log plz.
Observation: Error log is in table server_ststem_logs

[2016-03-16 19:58] ovflowd commented on #78
Images and error log plz.
Observation: Error log is in table server_system_logs

[2016-03-16 19:59] Killua99x commented on #78
Thanks one moment

http://prntscr.com/ag4emp

There is none of the mistakes I've found

[2016-03-16 21:16] ovflowd commented on #78
Images in-game too? And complete log plz. You sent only some entries. Click on PhPmyAdmin "show all entries"... And send entirely log. With Full Text.
I preffer you Export the table "server_system_logs"

[2016-03-16 21:16] ovflowd commented on #78
Because these image proofit nothing.

[2016-03-16 21:24] Killua99x commented on #78
[code]

Sorry xD

[2016-03-16 21:27] ovflowd commented on #78
Thanks ;)

[2016-03-16 21:37] Killua99x commented on #78
Thanks you

[2016-03-17 16:07] Killua99x commented on #78
Crash, http://prntscr.com/agg3pz and i'm online http://prntscr.com/agg4xj

Playing normally uploading of things from the catalog after a while 'becomes all black, this also happens on other occasions, after a certain time with the black or client crash after the user logs off.

http://prntscr.com/agg5db

Game normally, black screen, 5 minutes with the black screen and I see that the emulator has d

[2016-03-17 20:23] iTzl3lack opened #79 "Yupi release 1.1 can not connect..."
Hello,

I get an error if i would connect to my client...
in the server_system_logs is the error message:

I hop you can help me

[2016-03-18 14:37] RayRenirie commented on #76
With new db I get this: http://puu.sh/nKZBU/591d7b5639.png

[2016-03-19 09:36] TheDoct0r11 commented on #79
Looks like an error produced by an incorrect database.

Please keep in mind, that Yupi makes no guarantees regarding compatibility with databases of other emulators.

[2016-03-19 20:57] ovflowd commented on #79
@iTzl3lack sorry but this doesn't happens with me. Make sure you're with latest database.
Remembering that this error "user_id" as far i can see is referred to users_info table. (but may im wrong)..

Make sure, that everything is right.

[2016-03-19 20:57] ovflowd commented on #78
Database logs will be watched. And i will see if this is a common error or only happening with you.

Thanks, and sorry being late. Without time :/

[2016-03-19 20:59] Killua99x commented on #78
Thanks Sant0ro! No Problem xD

If this error was mine alone can you help me to solve it?

[2016-03-19 21:03] ovflowd commented on #78
As far i can see, the bugs isn't related directly with rooms.
Errors that i found in your log:
1. Chat Error (As i see, maybe the Chat Handler wasn't registered, or something crashed in your chat.) Make sure you're using last Packets folder from Yupi. Since i changed the .incoming,.library, .outgoing files contents. Remember, i only changed from one release.
2. As i can see FindMoreFriends gave yo

[2016-03-19 21:04] ovflowd commented on #77
Sorry but i never used these Code Analysis Tools.
Also are useless for a Habbo Emulator, since the core is a crap. (but i changed a lot)

[2016-03-19 21:05] Killua99x commented on #78
@sant0ro  i use a new build of Yupi with GitHub

http://prntscr.com/ahdtph

http://prntscr.com/ahdtwb

[2016-03-21 18:35] RayRenirie opened #80 "Emulator stops working"
Hello,

After some hours (sometimes minutes) the emulator doesn't accept new connections. You can't connect anymore to the emulator, client hangs at 76%. If you are in the hotel, it will work, but you can't rejoin.

Kind regards,
Ray

[2016-03-22 11:41] ovflowd commented on #80
Really that these bug exists? These bug was happening when i started DotNetty implementation. But is already fixed i think..

[2016-03-22 17:45] Killua99x opened #81 "Yupi on linux"
@sant0ro  Can i use Yupi on linux with new build?

Despite the bugs I would use it on linux since for security reasons I'm posting all in place, even with mono and wine Yupi does not work, it's your decision, or else?

[2016-03-22 19:10] RayRenirie commented on #80
Yes, I have this with your latest 1.1 jesus version, and also on the older ones.

[2016-03-23 11:57] ovflowd commented on #80
Okay i will check later.

[2016-03-23 11:58] ovflowd commented on #81
Wine wasn't made to do these stuffs. Also Wine emulates Windows XP, you need Windows 7 or higher.

Yupi works with Linux, as far i know, passed in TravisCI build. Use Mono 2.3

[2016-03-23 12:00] Killua99x commented on #81
Thank you just can feel immediately, I have to use no cpu? or 32-bit?

[2016-03-23 12:03] Killua99x commented on #81
I talked about wine because long ago I try azure and mono was not working but with wine turned and gave only a few mistakes in two .cs but nevertheless worked very well

[2016-03-23 12:05] ovflowd commented on #81
Travis use 64bit architecture.

[2016-03-23 12:06] Killua99x commented on #81
Thanks I'll try soon

[2016-03-23 16:41] Killua99x commented on #81
@sant0ro  What is travis?

[2016-03-23 16:54] Killua99x commented on #81
can i use mono up 2.3?

[2016-03-23 16:55] Killua99x commented on #81
`root@:~# mono -V
Mono JIT compiler version 3.2.8 (Debian 3.2.8+dfsg-10)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
        TLS:           __thread
        SIGSEGV:       altstack
        Notifications: epoll
        Architecture:  amd64
        Disabled:      none
        Misc:          softdebug
        LLVM:          supported, not enabled.
        G

[2016-03-23 17:06] Killua99x commented on #81
http://prntscr.com/aj0e2v @sant0ro

[2016-03-23 22:10] TheDoct0r11 commented on #81
Wine uses Mono for .NET applications, so running Yupi with Wine or Mono should result in similar behaviour.

In my pull request  (#74) I've fixed the mono build, but just because mono does build the application, doesn't mean mono can also run it (on linux):

There are multiple reasons why Yupi won't run with mono:
1. Someone decided to hardcode directory paths in the code with backslashes, which l

[2016-03-23 22:19] Killua99x commented on #81
Thank you so much I feel now your fork @TheDoct0r11
which I use? 64, 32 or No CPU?

@TheDoct0r11 http://prntscr.com/aj54vh

http://prntscr.com/aj55zs

Now i try on Linux

[2016-03-23 22:36] TheDoct0r11 commented on #81
You must run NuGet Restore first. Then Rebuild.
Output should be in AnyCPU folder.
Not sure, who decided to created that strange directory structure...

I forgot: Travis is a continuous integration platform. It will build every commit someone pushes to the repository, ensuring that the code can be compiled.

[2016-03-23 22:41] Killua99x commented on #81
http://prntscr.com/aj5d0v

same error.. did I do something wrong?

[2016-03-23 22:46] TheDoct0r11 commented on #81
Are you still using mono 3.2?
I guess you're using the mono within the official debian repositories.
Follow the guidlines given [here](http://www.mono-project.com/docs/getting-started/install/linux/#debian-ubuntu-and-derivatives) to install mono 4.0 (but before uninstall the old mono version)

[2016-03-24 12:11] Killua99x commented on #81
i install Mono JIT compiler version 4.2.3  http://prntscr.com/ajc9gj

[2016-03-24 12:21] Killua99x commented on #81
I cant use a start comand for start the emulator

It does not work any command

[2016-03-24 12:22] Killua99x commented on #81
It does not work any command

http://prntscr.com/ajcf6h

@TheDoct0r11

http://prntscr.com/ajcxsk

[2016-03-24 21:48] ovflowd commented on #81
Hi @TheDoct0r11 i will add you as Collaborator here. And you can continue the project. I have less time this month.

I'm sure May or June i will be back. But i'm 100% sure you will handle correctly smart decisions for this project.

You can add your credits in Emulator.

You will be collaborator now.

[2016-03-24 21:52] ovflowd commented on #78
@TheDoct0r11 will handle these issues. Thanks.

[2016-03-24 21:53] ovflowd commented on #81
Closed Issue. Create a new. This Issue is so big..

[2016-03-24 21:53] #81 closed, assigned to nobody

[2016-03-24 21:53] ovflowd commented on #80
@TheDoct0r11 will handle this issue.

[2016-03-24 22:52] Killua99x commented on #78
@sant0ro Excuse me, the start of linux does not work there is a solution?

[2016-03-24 23:16] Killua99x opened #82 "Start does not work on Linux (Mono)"
I use the fork Yupi for linux the start does not work and I can not start the emulator @sant0ro

[2016-03-25 00:18] ovflowd commented on #78
@KlluaKira Doctor are writing the compatiiliies ;)

[2016-03-25 00:20] Killua99x commented on #78
Thanks @sant0ro  °-° I hope you've found all the bugs reported to me, I hope it's not me xD problem
and that you do not either eh, thank you very much and sorry for my english

[2016-03-25 23:58] TheDoct0r11 opened #83 "DotNetty is a roadblock for linux :("
Hey there,
just had to find out that DotNetty doesn't seem to care about mono at all.

There is one [issue](https://github.com/Azure/DotNetty/issues/34) at their repository,
but activity is rather low...

I didn't even get to those issues, since I already got stuck with [this](https://bugzilla.xamarin.com/show_bug.cgi?id=27337) resulting in a runtime exception when starting the server.
(Fix will b

[2016-03-25 23:59] TheDoct0r11 commented on #82
Related to #83

[2016-03-26 00:25] Killua99x commented on #83
So nothing Yupi on Linux ..

[2016-03-26 00:30] Killua99x commented on #83
If I knew the Java writes Yuppi me everything in java, obviously will release the source

[2016-03-26 00:34] TheDoct0r11 commented on #83
Probably not without rewriting the networking, which will take some time.
I wrote @sant0ro an E-Mail, since I don't want to make such a major decision on my own.

It looks like [supersocket](http://www.supersocket.net/) would be an alternative,
but I didn't take a exact look at that since it is 01:32 AM here.

Another, rather extreme solution would be to link to a cross platform C++ library,
but I

[2016-03-26 00:38] Killua99x commented on #83
@TheDoct0r11 sorry for my english i'm italian, and I mean I just programming, I said if I knew how to program in java rewrite yupi in java for not having problems with linux

sorry again for my english

[2016-03-26 01:01] TheDoct0r11 commented on #83
@KilluaKira Yeah, about that...
Ever tried to run Minecraft with OpenJDK on Linux?
It doesn't really work and one has to install Oracles JRE,
which is against the purpose of using an open source operating system...

Also writing an Emulator from scratch requires a LOT of time...

But that really is rather offtopic...

[2016-03-26 01:02] Killua99x commented on #83
yes i understand, i use CentOS on my laptop dual boot with Windows 10 pro

[2016-03-26 17:06] Killua99x opened #84 "Problem with TCP proxy"
With a Proxy TCP I can have only one user, using the proxy because they all have the same IP ie the IP of the proxy, how can I fix? or ensure that IP connections are unlimited? @sant0ro

[2016-03-26 17:36] ovflowd commented on #84
The problem with Proxy is every end-user IP is the same of the Proxy Server IP.

Yupi uses IP Address (END-Point) as Client Identification, and i will not change this as a security issue.

If @TheDoct0r11 knows any other way to make it work, feel free to ask him.

[2016-03-26 17:39] Killua99x commented on #84
okay I'll try to solve my problem, thanks @TheDoct0r11  Excuse me, could you tell me if you know another way out of this problem?

ah still @sant0ro you could tell me if when I have placed this issue, please, if you could come back on my server to test the bugs I have seen and put on post #78 ?

[2016-03-28 18:58] Killua99x opened #85 "Online Counter doesent work"
Hi, @sant0ro, how can i fix the online counter?

when I connect it does not put on 1 of my online column user and when I'm disconnected obviously does not put 0

[2016-03-28 19:07] TheDoct0r11 commented on #85
Hi,

caused by missing call to RunQuery in

https://github.com/sant0ro/Yupi/blob/nio/Yupi/Emulator/Game/GameClients/GameClientManager.cs#L326

and

https://github.com/sant0ro/Yupi/blob/nio/Yupi/Emulator/Game/GameClients/GameClientManager.cs#L340

Will be fixed.

[2016-03-28 19:25] RayRenirie commented on #80
Okay

[2016-03-28 19:56] ovflowd commented on #47
@TheDoct0r11 this list need be updated.

[2016-03-28 19:56] ovflowd commented on #7
Documentation is Paused. Since we're rewriting Core.

[2016-03-28 19:56] #7 closed

[2016-03-28 20:15] Killua99x commented on #85
Ah Thanks! @TheDoct0r11

[2016-03-29 00:29] TheDoct0r11 commented on #84
@sant0ro That isn't entirely correct. Yupi only uses the IP Address as Identification, not the local endpoint.

We're living in a world with [NAT](https://en.wikipedia.org/wiki/Network_address_translation) resulting in having multiple computers residing behind the same public IP Address.

It usually makes sense to allow only a few connections from the same network, but to limit it to one per netwo

[2016-03-29 00:34] Killua99x commented on #84
I was thinking this, my friend with his laptop he wanted to connect to my retro server but became a spectator could not move or else after entering it the navigator worked. It is a bad thing for an IP user for me.. and i cant use a proxy for security issue

[2016-03-29 12:16] ovflowd commented on #84
Yes Doctoro you're right.  But Yupi doesn't uses only the IP Address as Identification. Literally uses the End-Point <=> IP Convertion that results into IPv4 + Some Hashes

You can see if you try login. So these Hashes are designed for different machine.

So login into different machine in same network isn't a problem.

The problem is using proxy. since the proxy redirects entirely data for the sa

[2016-03-29 12:19] ovflowd opened #86 "Changing to SuperSocket"
As far i can see, Yupi si leaving DotNetty (sad) and going to SuperSocket.

The fact is DotNetty is really more faster and perfomatic. But is beta, and doesn't work with linux. (yet)

[2016-03-29 12:39] TheDoct0r11 commented on #86
I didn't remove DotNetty entirely.
I just reduced the coupling and created a library with a common interface.
This way (once I complete reimplementing DotNetty) one can choose which Network IO System should be used.

Also if required a new IO System can be implemented without the need to change the upper levels

We might want to do some stress testing once implementation is done.

[2016-03-29 12:47] TheDoct0r11 commented on #84
As far as I can see only the IP Address is being used:

[Add to ClientManager](https://github.com/sant0ro/Yupi/blob/99ff8fe222e301b183039021ed813ed5dac75bac/Yupi/Emulator/Net/Connection/ConnectionManager.cs#L99)

[Override existing in ClientManager](https://github.com/sant0ro/Yupi/blob/99ff8fe222e301b183039021ed813ed5dac75bac/Yupi/Emulator/Game/GameClients/GameClientManager.cs#L261)

[IP Address t

[2016-03-29 12:58] Killua99x commented on #86
SuperSocket is slow? @sant0ro

[2016-03-29 14:06] TheDoct0r11 commented on #86
I don't think that network IO really is a performance bottleneck.
To be sure we would obviously need a test site giving us profiling data (Visual Studio as well as mono) but I would guess that we spend the most time with SQL queries...

If Sockets really were a bottleneck a native implementation would be the only solution since both SuperSocket as well as DotNetty probably use the underlying Syste

[2016-03-29 14:12] TheDoct0r11 commented on #83
Added Supersocket ( #88 ) to linux branch.

Startup is now working; Needs testing!

[2016-03-29 14:13] TheDoct0r11 commented on #82
Should be fixed by #88

[2016-03-29 14:13] #82 closed, assigned to TheDoct0r11

[2016-03-29 16:39] Killua99x commented on #84
boh I have noticed some problems with two different machines .. I do not know

[2016-03-29 21:23] ovflowd commented on #86
@TheDoct0r11, putting again the Emulator in Libraries like in Azure? Idk think is necessary. But is good.
The public functions names doesn't will change, don't interfering in the Upper API. Also return types and arguments can't change. In the public voids.

I think main problems in Yupi now are:
1. Useless Queries / Security
2. Cache System (Is really bad, and only for items i think..)
3. Threads

[2016-03-30 20:02] TheDoct0r11 commented on #86
The separation into libraries isn't really necessary but it can lead to faster builds since only the changed library must be rebuild.
Also it enforces better coding structure by hopefully reducing [coupling](https://en.wikipedia.org/wiki/Coupling_%28computer_programming%29).

Additionally it is a paradigm from the Unix world: One library should only have on task.

Yes, I know that both are based u

[2016-04-01 10:28] TheDoct0r11 opened #89 "Message Handling"
Hey,
I want to propose a new way of structuring message handlers.

I think it would be a good idea to have the following interfaces:

(subject to change of course)

[code]

We could then use reflection upon **start-up** to find the classes implementing these interfaces and map them to the packet names/id's.

This would slow down start-up for a bit (reflection is rather slow) but since there are a

[2016-04-01 12:06] ovflowd commented on #89
Yes that was i'm rathering, Reflection would be more slow. A way to index the Handlers will be good.
But also we need create the Composers, i created only few Composers... The way is dynamize the code.
But your idea is approved.

[2016-04-01 12:19] ovflowd commented on #83
@TheDoct0r11 i will test last version, okay?

[2016-04-01 12:53] ovflowd opened #90 "Yupi cannot connect to any MySQL server anymore"
I really don't know why. But can't figure it out. Yupi simply doesn't connect to MySQL server. The error isn't nothing related to incorrect or invalid server details. But error when trying to open MySQL driver.

[2016-04-01 15:30] TheDoct0r11 commented on #90
Can't reproduce on linux....
Would you mind adding the error message and the stacktrace?
And the git commit hash of your version would be good to know :)

[2016-04-01 15:33] TheDoct0r11 commented on #83
Of course!
Would be great if you could benchmark the performance difference between DotNetty (nio branch) and SuperSocket (linux branch) on Windows and upload the results.

[2016-04-01 15:37] TheDoct0r11 commented on #89
Composers would have to implement IOutgoingMessageHandler

[2016-04-01 16:12] ovflowd commented on #90
Okay ;)

[2016-04-01 16:12] ovflowd commented on #89
Ugg.... Ok.,

[2016-04-01 19:18] ovflowd opened #91 "MSBuild Tasks removal"
1. Need remove entirely MSBuildTasks implementation. Since you need fork the repository to get it working, or being main repository collaborator.
2. We will switch as @TheDoct0r11 suggested that is using Github API Implementation for:
3. Check if current local build is running at latest git version.
4. Get UPDATES.json
5. Other Data..

People can't build Yupi now, using last version because the MS

[2016-04-01 19:36] TheDoct0r11 commented on #91
MSBuild Tasks is removed already.
Will have a look at the API when I get around to it.

[2016-04-01 20:33] #86 closed, assigned to nobody

[2016-04-02 16:47] TheDoct0r11 commented on #85
Fixed in 42b0ebc

[2016-04-02 16:47] #85 closed, assigned to nobody

[2016-04-02 19:01] Killua99x opened #92 "Habbo Club Crash"
Crash if i click Habbo Club

http://prntscr.com/anb28m

i have this error with Branch Nio and Linux Branch

@TheDoct0r11 @sant0ro

[2016-04-02 19:35] ovflowd commented on #92
Hi maybe is wrong packet. I will analyse.

[2016-04-02 19:36] Killua99x commented on #92
If you need  screenshots tell me

[2016-04-02 19:40] ovflowd opened #93 "Update to Last Habbo Release"
@TheDoct0r11 we need consider updating to latest Habbo release. I can do that, Cracking the SWF, and Updating the Packets. (But i remember, that some Packets from the Actual Yupi Release are wrong, since the Packets Updater from Xdr, in most scenarios update 99% correct Outgoing Packets and, 80% correct incoming packets)...

Also i need know if you know using AS3 Sorcerer, or Updating Habbo Packet

[2016-04-02 19:43] ovflowd commented on #92
Okay, i can't do this now, while i'm sick and studying. But i have 99% certain that or is wrong packet when i updated the release, or wrong structure.

[2016-04-02 19:45] Killua99x commented on #92
I'm sorry, as soon as you're fine, good healing Claudio

[2016-04-02 19:49] ovflowd commented on #92
Thanks

[2016-04-03 18:35] RayRenirie commented on #80
Has this been fixed yet?

[2016-04-04 14:56] ovflowd commented on #80
I don't know, need ask to @TheDoct0r11

[2016-04-04 15:11] TheDoct0r11 commented on #93
I don't think we should do that right now as I am rewriting a lot of the core which would introduce a bunch of breaking changes which probably can't be solved by git automatically.

[2016-04-04 15:14] TheDoct0r11 commented on #80
Should be solved as the entire socket system had to be rewritten for Linux.
Please try one of the [current builds](https://ci.appveyor.com/project/sant0ro/yupi/build/artifacts?branch=linux)

[2016-04-04 15:14] #80 closed, assigned to nobody

[2016-04-04 21:59] ovflowd commented on #93
@TheDoct0r11 yes you're right.

[2016-04-05 15:35] #83 closed, assigned to TheDoct0r11

[2016-05-24 18:02] ghost commented on #92
Work fine for me.
I dont have this bug.

[2016-05-24 18:21] ovflowd commented on #92
Nice, Anthologique don't have this. Closing issue.

[2016-05-24 18:21] #92 closed, assigned to nobody

[2016-05-24 18:23] ovflowd commented on #92
Also @Anthologique i need your skype.

[2016-05-24 21:07] Killua99x commented on #92
@sant0ro  I put a video in youtube for it...

[2016-05-24 21:32] ovflowd commented on #92
But @Anthologique said is working.. Maybe the error is only with u?

[2016-05-25 15:48] Anthologique commented on #92
@sant0ro Give me your Skype, i add you.

[2016-05-25 15:59] ghost commented on #92
![sans titre](https://cloud.githubusercontent.com/assets/6734589/15547050/7bf573d2-22a2-11e6-9322-7ac28f350fe6.png)

[2016-05-25 16:26] sant0ro commented on #92
@Anthologique my skype is 'live:sant0ro'

[2016-05-25 16:38] ghost opened #94 "Favorite room and home room button dont work."
![sans titre](https://cloud.githubusercontent.com/assets/6734589/15548258/e19b1a34-22a7-11e6-831b-b372ff796f70.png)

[2016-05-25 16:58] ovflowd commented on #94
If you re-enter the client, the room become favorite? Emulator says any type of error?

[2016-05-25 17:06] ghost commented on #94
No, and no error on emulator.

[2016-05-25 17:08] Anthologique commented on #92
I have you on my Skype, you have lock me...
![sans titre](https://cloud.githubusercontent.com/assets/6734589/15549250/0af7ab50-22ac-11e6-9243-0752419dd413.png)

[2016-05-25 17:15] sant0ro commented on #92
@Anthologique tell me your skype name please.

[2016-05-25 17:17] Anthologique commented on #92
Anthologique

[2016-05-25 17:21] sant0ro commented on #92
Tried to add. You aren't on contact list.

[2016-05-25 17:34] Anthologique commented on #92
you have lock me...

[2016-05-25 18:05] ghost opened #95 ""green_goal, yellow_goal, red_goal and blue_goal" interaction dont work."
Impossible place a ball on goal.

[2016-05-25 18:10] ghost opened #96 "Bug with Rares Limited Edition furni"
When i buy a rares limited edition furniture, and place on my room.
I doble click on furni and the furni dont apear LTD.
![1](https://cloud.githubusercontent.com/assets/6734589/15551095/a5e07b26-22b4-11e6-96bb-8b9d62409ba4.png)
![2](https://cloud.githubusercontent.com/assets/6734589/15551096/a5e3fa6c-22b4-11e6-832a-f202844adc4d.png)
![3](https://cloud.githubusercontent.com/assets/6734589/15551097/

[2016-05-25 18:12] ghost opened #97 "Quests dont work."
When a doble click on quest icon, dont work.
![1](https://cloud.githubusercontent.com/assets/6734589/15551146/ec52396e-22b4-11e6-899a-d88c739c71b0.png)

[2016-05-25 18:18] ovflowd commented on #92
Here you aren't locked and aren't added.

I will delete these off-topic messages from the issue. ;)

[2016-05-25 18:19] ovflowd commented on #95
Can send Screenies?

[2016-05-25 18:20] ovflowd commented on #96
LTD Furnis is a bug of the Emulator. We didn't finished coding that feature.

[2016-05-25 18:21] ovflowd commented on #97
Quests are disabled. And all structure from Quests are removed from Yupi. Since Quests is useless.

[2016-05-25 18:21] #97 closed, assigned to nobody

[2016-05-25 18:26] ghost commented on #95
![sans titre](https://cloud.githubusercontent.com/assets/6734589/15551587/fd8a188a-22b6-11e6-80e2-da4b820edbc4.png)
The bug is:
Impossible place the ball on goal.

[2016-05-25 18:29] ghost opened #98 "Buy events dont apear on navigator."
![2](https://cloud.githubusercontent.com/assets/6734589/15551674/5f562068-22b7-11e6-9e38-32659ef547e3.png)
![sans titre](https://cloud.githubusercontent.com/assets/6734589/15551673/5f55007a-22b7-11e6-9c25-d87ff4b8b163.png)

[2016-05-25 18:34] ovflowd commented on #98
Because we're rewriting also Navigator.

[2016-05-25 18:34] ovflowd commented on #95
They are with right interaction at catalogue?

[2016-05-25 18:45] antrys1223 opened #99 "Whole Yupi SWF pack - with servercamera and furnidata etc"
In the Yupi help thread it says that the its recommended to use the Yupi SWF pack in the release thread. Its not in the release thread anymore only the fixed habbo.swf. I need the furnidata for Yupi emulator so I want the Yupi SWF pack.

Do you have a link?

[2016-05-25 18:48] ovflowd commented on #99
No. Someone sent a fake DMCA to Mega.co.nz. I don't have any backup.

[2016-05-25 18:49] antrys1223 commented on #99
How can I get the emulator working then? ...

[2016-05-25 18:51] ovflowd commented on #99
You can use any SWF pack. Only need use the Habbo.swf from the thread.

[2016-05-25 18:51] #99 closed, assigned to nobody

[2016-05-25 18:51] ghost commented on #95
Yes, i am no noob lool

[2016-05-25 18:51] antrys1223 commented on #99
No I need the furnidata for the catalogue from Yupi because you can't use another one.

[2016-05-25 18:52] ovflowd commented on #99
You can use any furnidata. Or Habbo.com Furnidata.

[2016-05-25 18:56] ghost commented on #97
Ok, how remove the icon on the navbar please ?

[2016-05-25 18:57] ovflowd commented on #95
@Anthologique i know that. More respect on issues. They're public ;)

I only will check any Yupi bug in June with @TheDoct0r11, since we're under faculty semester.

[2016-05-25 19:02] antrys1223 commented on #99
Habbo.com Furnidata - Other furnidata don't work either: http://prnt.sc/b8dvmk

[2016-05-25 19:04] ovflowd commented on #97
External Variables. ;)

[2016-05-25 19:07] ovflowd commented on #99
Other Hotels Furnidata have other File Encoding. You need change the encoding ;)

[2016-05-25 19:11] antrys1223 commented on #99
Do you mean **<?xml version="1.0" encoding="UTF-8"?>**? So yeah to what if I can ask you haha

[2016-05-25 19:11] antrys1223 commented on #99
UTF-8 is default

[2016-05-25 19:12] ovflowd commented on #99
No. Aren't these encodings. Are the "symbols" inside the files. These symbols aren't recognized by C# Built-in XML library.

[2016-05-25 19:14] antrys1223 commented on #99
How can I fix that then?

[2016-05-25 19:15] ovflowd commented on #99
Replacing the symbols that are listed by the Emulator in your XML. Commonly are the symbols with some weird caracters first, like #x9

[2016-05-25 19:20] antrys1223 commented on #99
How can I see where its listed? Thanks for the help but I just added a furnidata and the only symbols thats its using are < / > " " etc. I know I have to change symbols but I don't get it to be honest. Where are the symbols listed that need to be replaced in the XML file

[2016-05-25 19:29] ovflowd commented on #99
These weird symbols are in the text. not in the tags.
#x9 = ç, as an example.

[2016-05-25 19:34] antrys1223 commented on #99
Oh thanks! So if I see a word with: sançoro (example) I can just change it with: san#x9oro

[2016-05-25 19:36] ovflowd commented on #99
No. is the inverse.

[2016-05-25 19:48] antrys1223 commented on #99
Only weird symbols I could find are: \* but the furni needs that. Words with ç as example already had ç without the symbol.

[2016-05-25 19:49] ovflowd commented on #99
That's really weird.

[2016-05-25 19:51] antrys1223 commented on #99
I also tried a Azure furnidata just for test purpose but it still says the XML problem.

[2016-05-25 19:59] antrys1223 commented on #99
Yo. Older version does work with the furnidata's. So its the new emulator 1.1.0 that doesnt work. The Yupi Master does work with it. I'm now gonna test it with AzureWeb

[2016-05-25 20:03] antrys1223 commented on #99
I can not choose a room with the AzureWEB everything works but not choosing room..

[2016-05-25 20:03] ovflowd commented on #99
Yupi Master is an obsolete version and non-recommended version.

[2016-05-25 20:03] ovflowd commented on #99
You need use Yupi Habbo.swf

[2016-05-25 20:03] antrys1223 commented on #99
I used the fixed Yupi SWF

[2016-05-25 20:04] antrys1223 commented on #99
Gonna try it on firefox now

[2016-05-25 20:05] antrys1223 commented on #99
Rooms don't work on firefox either.

[2016-05-25 20:05] antrys1223 commented on #99
client_new

[2016-05-25 22:09] Killua99x commented on #92
@sant0ro  now i try a new version of yupi and i dont have this issue °-° en.sunakehotel.com

[2016-05-25 22:11] ovflowd commented on #92
Oh yeah

[2016-05-25 22:11] Killua99x commented on #92
on linux it doesent work with mono

[2016-05-25 22:11] ovflowd commented on #92
@KilluaKira can't register.

[2016-05-25 22:12] Killua99x commented on #92
@sant0ro yes one moment i'm sorry

[2016-05-25 22:12] Killua99x commented on #92
http://prntscr.com/b8geuv

[2016-05-25 22:17] Killua99x commented on #92
@sant0ro now you can register

[2016-05-26 09:21] antrys1223 commented on #99
Do you know how to fix?

[2016-05-26 14:48] BurakDev commented on #94
@sant0ro What about checking if emulator handle packet correctly

[2016-05-26 15:08] ovflowd commented on #94
I don't have time now @BurakDev . And also @TheDoct0r11 has no time.

Our meta is finish the `linux` branch.

But @TheDoct0r11 stopped in the phase of rewrite the message handlers.

[2016-05-27 22:12] antrys1223 commented on #99
Bro???!!!

[2016-05-28 00:39] ovflowd commented on #99
Guy, stop flooding. If you want to use a custom Furnidata, you need fix the special characters.

You didn't said what is the problem, your emulator doesn't start, if not, only change to default Habbo.com furnidata. We will add a todo for universal character set. The `linux` branch already have this fixed. But the `linux` branch isn't ready for usage.

If your client stuck in 76% check the table `s

[2016-05-28 00:40] ovflowd commented on #95
Remembering @Anthologique that these errors are from `NIO` branch, and aren't being supported. Since the current development branch is `LINUX`, also the LINUX branch isn't ready for usage.

We will update LINUX branch starting at June.

[2016-05-28 07:09] ghost commented on #95
No, i use only "Yupi Emulator 1.1.0 stable release version".
When You update this version ?
(https://github.com/sant0ro/Yupi/releases/tag/1.1.0-stable)

[2016-05-28 07:34] ghost opened #100 "Report forum discussion dont work."
![sans titre](https://cloud.githubusercontent.com/assets/6734589/15625897/43e30236-24b7-11e6-8ebc-1a9655ee9c24.png)
When i report a discussion or a message on my forum, the rapport dont appear on Mod-Tools.

[2016-05-28 07:40] ghost opened #101 "fbgate interaction dont work."
Impossible enter on fbgate furnis.

[2016-05-28 07:47] ghost opened #102 "Room with groups dont appear on navigator."
![sans titre](https://cloud.githubusercontent.com/assets/6734589/15625973/2f30a918-24b9-11e6-875d-d02d16fd602b.png)

[2016-05-28 07:49] ghost opened #103 "Clothing furniture crash..."
When i doble click on clothing furniture, i have a crash.

[2016-05-28 10:36] ghost opened #104 "Impossible horse dismount."
Look the screenshot.
![sans titre](https://cloud.githubusercontent.com/assets/6734589/15626872/b9775f38-24d0-11e6-91b9-17def683b397.png)

[2016-05-28 10:38] ghost opened #105 "Room report dont appear on Mod-Tools."
Look the screenshots.
![2](https://cloud.githubusercontent.com/assets/6734589/15626881/17c7378e-24d1-11e6-94d3-4a1458edc67a.png)
![sans titre](https://cloud.githubusercontent.com/assets/6734589/15626880/17c5ec12-24d1-11e6-9fe9-6a7b88983659.png)

[2016-05-28 12:20] ovflowd commented on #95
As i said The 1.1.0 stable release version is from `NIO` branch.

We're developing the new release in `LINUX` branch, that is far to be done.

[2016-05-28 12:21] ovflowd commented on #101
Can  you post a screenie please?

[2016-05-28 12:22] ovflowd commented on #102
That's weird. But as i said, please stop creating new issues. These issues are from `NIO` branch. And we're not giving support in NIO branch.

[2016-05-28 17:51] ovflowd commented on #105
Closing this Issue. Please stop creating new issues or i will block you at GitHub.

All these Issues already exists if you see correctly the Issues List.

Also i will say only one more time, this issues are related to `NIO` branch and we don't are giving support to `NIO` branch, since is discontinued. `LINUX` branch is the branch that we're developing.

[2016-05-28 17:51] #105 closed, assigned to ovflowd

[2016-05-28 17:53] ovflowd commented on #105
Anyway, thanks for creating these issues. But please stop Antho. I will say to you, when the development continues to you test the LINUX branch.

Cheers.

[2016-06-09 05:16] ghost opened #106 "Impossible add new funis on Yupi Catalog"
Works fine.
Please delete my issue.

[2016-06-12 08:03] ghost commented on #102
Close this issue.
Work fine.

[2016-07-26 19:29] UzielBalderas opened #107 "Furnidata Error"
help .. No loading furnis in yupi emulator.. i use swf's habboon edit.. how you can furnidata.xml?? our catalogue page with drc's

http://prnt.sc/bx41w8
http://prnt.sc/bx41tj

[2016-07-27 12:17] ghost commented on #107
Download last furnidata off habbo.com and works ;).

[2016-07-27 12:19] ghost commented on #103
Works fine.
Please delete my issue.

[2016-07-27 12:31] ghost commented on #94
Just home room button dont work.

[2016-07-27 17:26] ovflowd commented on #94
Home room button doesn't work? But this bug is related to `NIO` branch. We re rewriting Yupi, so wait for the Linux branch release. ;)

[2016-07-27 17:26] ovflowd commented on #103
Okay!

[2016-07-27 17:26] #103 closed, assigned to nobody

[2016-07-27 17:26] ovflowd commented on #107
Exactly as @Anthologique said.

[2016-07-27 18:00] UzielBalderas commented on #107
now the users entering his room, the client reload...

[2016-07-27 18:30] ghost commented on #94
I use BETA Stable version 1.1
https://github.com/sant0ro/Yupi/releases/tag/1.1.0-stable
No Nio branche lol

[2016-07-27 18:41] BryanSuero commented on #94
@Anthologique check the packets errors

[2016-07-27 18:42] BryanSuero commented on #94
@Anthologique Check the packets errors

[2016-07-28 09:39] ghost commented on #94
@BryanSuero How ?

[2016-07-28 10:48] ghost opened #108 "Problem with navigator."
Rooms closed with doorbell or password, dont apear on navigator.

[2016-07-28 14:51] ghost opened #109 "2 problems."
Problem n°1:
When i click on "Change my name" and "Ok" button, i received a disconnect of client.

Problem n°2:
The online badge stop work after level 5.

Screenshot:
![sans titre](https://cloud.githubusercontent.com/assets/6734589/17217134/91677a26-54e3-11e6-899a-f15b9c19c5f8.png)

[2016-07-28 14:57] ghost opened #110 "Problem with groups."
When i create a new group, i received a new pending request with my name...
Screenshots:
![2](https://cloud.githubusercontent.com/assets/6734589/17217365/662f3546-54e4-11e6-967d-4706f9b0851b.png)
![sans titre](https://cloud.githubusercontent.com/assets/6734589/17217366/66382552-54e4-11e6-8f36-2490bfa26ea8.png)

[2016-07-28 15:00] ghost opened #111 "Problem with groups (2/2)."
When i delete my group since other room, all furniture delete of other room (No only group room).
This is a very important problem !!!

[2016-07-28 15:07] ghost opened #112 "Problem with wireds bots."
Look screenshot:
![sans titre](https://cloud.githubusercontent.com/assets/6734589/17217746/ba687400-54e5-11e6-925b-c720726fe318.png)
Important: (I have add all furniture interactor).

[2016-07-28 15:15] ghost commented on #108
Edit: Works fine.

[2016-07-28 15:15] #108 closed, assigned to nobody

[2016-07-28 15:15] #106 closed, assigned to nobody

[2016-07-28 15:16] #102 closed, assigned to ovflowd

[2016-07-28 15:16] Anthologique commented on #101
Edit: Works Fine.

[2016-07-28 15:24] TheDoct0r11 commented on #109
1. Probably invalid packet structure. Will investigate once linux is done.
2. Will need to investigate... But that's odd...

[2016-07-28 15:40] ovflowd commented on #109
1. Don't need investigate. That code was removed from Yupi, since isn't unsafe and not used anymore by Habbo.

[2016-07-28 15:41] ovflowd commented on #112
Check the interaction_type at Database.

[2016-07-28 15:42] ovflowd commented on #94
@Anthologique this build isn't the latest Yupi build. And isn't stable. I will add last build now.

[2016-07-28 15:43] TheDoct0r11 commented on #109
It's not an safety issue, but rather an issue of bad database design.
Pretty much every emulator tends to copy the usernames around everywhere instead of simply using the user id...

[2016-07-28 15:48] ovflowd commented on #110
Yes this is a very weird bug, i really don't know why this happens.
But is `NIO` branch so..

[2016-07-28 15:51] ghost commented on #112
All interaction type its good for all wired furniture.
Dont work.

[2016-07-28 15:55] ovflowd commented on #109
Yupi uses user id. I Already changed that. The security issue is around the input of the username choose.

[2016-07-29 09:04] pirest opened #113 "Hello, can I use the emulator in Yupi ONE V4 CMS?"
Hello, can I use the emulator in Yupi ONE V4 CMS?

[2016-07-29 10:40] ghost commented on #101
Impossible enter on fbgate furniture.
I think no bad coded, just packet error.
Video: http://tinypic.com/player.php?v=2wpo58o%3E&s=9#.V5syjxWLS70

[2016-07-29 13:46] ghost opened #114 "Problem with pets interactor."
All interactor list of pets dont work:
pet_gnomo
pet_monster
pet_bunnyeaster
pet_bunnyevil
pet_bunnylove
pet_bunnydepressed
pet_pigeongood
pet_pigeonevil
pet_demonmonkey

All pets dont apear on my catalogue.

[2016-07-29 13:48] ghost commented on #114
Video: http://tinypic.com/player.php?v=2jb41af%3E&s=9#.V5tewBWLS70

[2016-07-29 13:49] ghost commented on #94
@sant0ro Realy ? This is super !

[2016-07-29 13:57] ovflowd commented on #113
Hello i don't know what is this One CMS v4.
But i think Yupi is compatible with the most common CMS's.

Good luck.

[2016-07-29 13:57] #113 closed, assigned to nobody

[2016-07-29 13:58] ovflowd commented on #101
Did you tried click directly in the gate?

[2016-07-29 14:00] ovflowd commented on #94
I forgot to upload the build. Uploading now.

[2016-07-29 14:03] ovflowd commented on #114
Those pets aren't coded in Yupi. But is really easily to code since Yupi PETS system is dynamic.
![image](https://cloud.githubusercontent.com/assets/12037269/17250663/c4da5cdc-557b-11e6-94b8-6b2fc37a04c4.png)
![image](https://cloud.githubusercontent.com/assets/12037269/17250684/dfd720d8-557b-11e6-9364-669a2f5d788f.png)
![image](https://cloud.githubusercontent.com/assets/12037269/17250700/eafa6c5e-

[2016-07-29 14:17] ghost commented on #101
Yes, and dont work ^^.

[2016-07-29 14:22] ghost commented on #114
How i found race id on external_variables please ?

[2016-07-29 14:38] ovflowd commented on #114
Search for PETS in External_Variables the you will encounter a line with the Pet Races Names separated by Comma. The Pet Races ID's you only can obtain by Packet Logging.

[2016-07-29 14:39] ovflowd commented on #101
Sad. We will try to fix it in `LINUX` branch Release's. But, we are currently busy by rewriting the entirely Emulator..

[2016-07-29 14:42] ghost opened #115 "Problem with Yupi Emulator 1.1.1"
When i buy 1 furni on catalogue, i have 2 furnis on my inventory.

[2016-07-29 14:43] ovflowd commented on #115
This bug makes no sense. I already bought a lot of items in Yupi. And i never saw this bug before.

[2016-07-29 14:48] ghost commented on #114
Thanks works fine, you are the best ;)

[2016-07-29 14:48] #114 closed, assigned to nobody

[2016-07-29 14:56] ghost commented on #115
I have reboot the emulator and works fine, very strange...

[2016-07-29 14:56] #115 closed, assigned to nobody

[2016-07-29 15:12] ovflowd opened #116 ".NET Core?"
![image](https://cloud.githubusercontent.com/assets/12037269/17253115/b1e5542e-5585-11e6-8c73-218f3926322f.png)
That was an idea of a good developer from RaGEZONE Martinmine, what you think @TheDoct0r11 , we will change to .NET Core, after refactorement?

[2016-07-29 15:45] ovflowd commented on #114
You're welcome ;)

[2016-07-29 16:20] TheDoct0r11 commented on #116
Just had to read up on .Net Core. Basically that looks like a good idea.
But we will have to check weather the libraries we're using are supporting .NET Core...
Also before switching to .NET Core I'd rather  want to do some extensive testing and if someone is motivated enough create some unit tests (NUnit)

Keeping this open as a reminder.

[2016-07-29 16:39] Anthologique commented on #116
@sant0ro Are you ideas for i download all habbo furniture ? (Le contain of "hof_furni" folder on Habbo.com)

[2016-07-29 16:41] sant0ro commented on #116
Sory @Anthologique what are you talking about?

[2016-07-29 17:01] ovflowd opened #117 "Master Branch deleted."
The `master` branch was removed from the repository. Since is really outdated.

[2016-07-29 17:01] #117 closed, assigned to nobody

[2016-07-30 09:48] Anthologique commented on #116
I will all furniture off Habbo.com, how i dowload the latest "hof_furni" folder please ?

[2016-07-30 10:37] ghost opened #118 "Problem with Restart emulator command."
Restart emulator command dont work fine.
When i execute this command and i reconnect on client, impossible enter on the room.

[2016-07-30 10:48] ghost opened #119 "Problem with hopper furniture."
Hopper furniture dont work.
Impossible enter on the furni...

[2016-07-30 11:08] ghost opened #120 "? dont work on Yupi emulator."
When i click on "?" button, dont work.

[2016-07-30 12:40] ghost opened #121 "Problem with Jukebox."
Jukebox dont work (no sound)

[2016-07-30 15:02] ghost opened #122 "Problem with Bots and Pets."
Bots and Pets dont will say.

[2016-07-30 17:47] ovflowd commented on #116
@Anthologique please stop posting spam. This issue isn't related to furniture. But to .NET Core
Locking conversation.

[2016-07-30 17:48] ovflowd commented on #122
Yes i know why. I will commit the fix.

[2016-07-30 17:48] ovflowd commented on #121
With me works fine.

[2016-07-30 17:48] #121 closed, assigned to nobody

[2016-07-30 17:49] ovflowd commented on #120
Works. Need configure in external_variables.
Stop creating issues without 100% of certain of the bug existence.

[2016-07-30 17:49] #120 closed, assigned to nobody

[2016-07-30 17:49] ovflowd commented on #119
I don't know what is Hopper.

Add screenies please.

[2016-07-30 17:50] ovflowd commented on #118
The Restart Command isn't 100%.
Will check why.

[2016-07-30 18:02] ghost commented on #122
Okey :)

[2016-07-30 18:02] ghost commented on #119
Hum, okey, more times ^^

[2016-07-30 18:02] ghost commented on #118
Okey, thanks

[2016-07-30 18:03] ovflowd commented on #122
Fixed in last commit.
Download last commit and build emulator.

[2016-07-30 18:03] #122 closed, assigned to nobody

[2016-07-30 18:13] ghost commented on #122
I use the latest version (Yupi 1.1.1) THIS DAY and dont work.

[2016-07-30 18:24] ghost commented on #121
How configure this ? T_T

[2016-07-30 18:25] ghost commented on #120
How configure this ? T_T

[2016-07-30 20:19] ovflowd commented on #122
I said to download last commit, not last release. You need understand differences between commits and releases.

[2016-07-30 20:44] ghost commented on #122
--'
I use the latest https://github.com/sant0ro/Yupi/tree/nio version
DONT WORK.

[2016-07-31 13:20] ghost opened #123 "Problem with Bots, Pets and Jukebox."
Problem with Bots: Dont say.
Problem with Pets: Dont say.
Problem with Jukebox: Song CD dont apear on Jukebox and dont work.
Look video: http://tinypic.com/player.php?v=nfljm0%3E&s=9#.V537EhWLS70
I think, this is all packet error.

[2016-07-31 19:35] ghost opened #124 "Problem with rooms config 1/2."
Bug n°1: This option dont work.
Bug n°2: Wheni check the case, and i reconnect on the client, the case is unchecked.
![1](https://cloud.githubusercontent.com/assets/6734589/17278825/a7077270-5766-11e6-93dd-4391ad7c794b.png)

[2016-07-31 19:36] ghost opened #125 "Problem with rooms config 2/2."
Bug n°1:This option dont work.
Bug n°2: Wheni check the case, and i reconnect on the client, the case is unchecked.
![2](https://cloud.githubusercontent.com/assets/6734589/17278833/c58c53c8-5766-11e6-833f-74bc7bd36992.png)

[2016-07-31 21:44] TheDoct0r11 commented on #124
Hello, since neither I nor any other team member (at least as far as I know) does speak french, it would be helpful if you could provide a translation of the affected checkbox.

From what I can see right now, this is either a package handling issue or a missing database storage operation. Either way both of those components are currently being redesigned.

[2016-07-31 21:45] TheDoct0r11 commented on #125
See https://github.com/sant0ro/Yupi/issues/124#issuecomment-236458549

[2016-07-31 21:45] #125 closed, assigned to nobody

[2016-08-17 13:43] #77 closed, assigned to nobody

[2016-08-17 13:43] #78 closed, assigned to nobody

[2016-08-17 13:43] #79 closed, assigned to nobody

[2016-08-17 13:43] #84 closed, assigned to nobody

[2016-08-17 13:43] #89 closed, assigned to nobody

[2016-08-17 13:43] #90 closed, assigned to TheDoct0r11

[2016-08-17 13:43] #91 closed, assigned to TheDoct0r11

[2016-08-17 13:43] #93 closed, assigned to ovflowd

[2016-08-17 13:43] #94 closed, assigned to nobody

[2016-08-17 13:43] #95 closed, assigned to ovflowd

[2016-08-17 13:43] #96 closed, assigned to nobody

[2016-08-17 13:43] #98 closed, assigned to nobody

[2016-08-17 13:43] #100 closed, assigned to ovflowd

[2016-08-17 13:43] #101 closed, assigned to nobody

[2016-08-17 13:43] #104 closed, assigned to nobody

[2016-08-17 13:43] #107 closed, assigned to nobody

[2016-08-17 13:43] #109 closed, assigned to nobody

[2016-08-17 13:43] #110 closed, assigned to nobody

[2016-08-17 13:43] #111 closed, assigned to nobody

[2016-08-17 13:43] #112 closed, assigned to nobody

[2016-08-17 13:43] #116 closed, assigned to nobody

[2016-08-17 13:43] #118 closed, assigned to nobody

[2016-08-17 13:43] #119 closed, assigned to nobody

[2016-08-17 13:43] #123 closed, assigned to nobody

[2016-08-17 13:43] #124 closed, assigned to nobody

[2016-08-17 13:43] #2 closed

[2016-08-17 13:43] #3 closed

[2016-08-17 13:43] #4 closed

[2016-08-17 13:43] #5 closed

[2016-08-17 13:43] #25 closed

[2016-08-17 13:43] #34 closed

[2016-08-17 13:43] #47 closed

[2016-08-17 13:43] #66 closed

[2016-08-17 15:28] ovflowd opened #126 "Yupi Namespace Deprecation"
Regarding to remember that the folder `Yupi` will be deprecated in the next builds. The content of `Yupi` folder will be converted out into `Yupi.Controller`, `Yupi.Main`, and those others sub-namespaces.
The folder still remain in the `NIO` branch for read-only and documentation purposes.

[2016-08-21 17:27] #126 closed, assigned to nobody

[2016-08-21 17:27] ovflowd commented on #126
`Yupi` Folder Deprecated.

[2016-08-21 17:29] ovflowd opened #127 "Adjust NHibernate Database Creation Set"
Adjust the NHibernate to create the Database only in first time Execution. Also need adjust NHibernate for old Database Migration. That need to be mitigated.

[2016-08-21 17:32] ovflowd opened #128 "In-Game: Hotel View"
This Issue is about the features of the Server related to the Habbo Hotel View. Such as:
- [x] Hotel View Widgets
- [x] Hotel View /reception/ Images (Not sure if is working)
- [ ] Hotel View Widgets with Interaction
- [ ] Hotel View Landing Goals
- [ ] Hotel View Hall-of-Fame

[2016-08-21 17:35] ovflowd opened #129 "In-Game: Habbo Catalogue"
This issue is related about the Habbo Catalogue. Those to-do list need to be checked:
- [x] Loading Catalogue Index
- [x] Loading Catalogue Pages Categories
- [ ] Loading Catalogue Pages List
- [ ] Loading Catalogue Pages
- [ ] Loading Catalogue Pages Items
- [ ] Purchase Basic Item Set
- [ ] Purchase Basic Item Gift Set
- [ ] Purchase Room Decorations
- [ ] Purchase Wired Items
- [ ] Purchase Tro

[2016-08-21 17:42] ovflowd opened #130 "In-Game: Habbo Room Navigator"
This issue is related to the Habbo Room Navigator. Issues such as:
- [x] List Public Rooms
- [x] Interpolate Search Query
- [x] List Private Rooms
- [ ] Room Categories (not 100% done)
- [ ] Find Random Room
- [ ] Room History
- [ ] Favorite Queries
- [ ] Advanced Search Query

[2016-08-25 18:53] TheDoct0r11 opened #131 "Topshelf"
Use [Topshelf](http://topshelf-project.com/) for service registration.

[2016-08-25 19:22] ovflowd commented on #131
For what we use Topshelf? For MS Service Registering?

[2016-08-25 19:26] TheDoct0r11 commented on #131
Yes, that is what it is intended to be used for.

[2016-09-16 13:39] ovflowd commented on #127
That's already working, as far i see. Right, @TheDoct0r11 ?

[2016-09-16 13:39] #127 closed, assigned to TheDoct0r11

[2016-09-16 13:42] ovflowd opened #132 "In-Game: Rooms"
This issue will explain the _To-Do_ tasks for User's Rooms.
- [x] Enter in Room
- [x] Load Room Floor/Wall
- [x] Load Room Settings
- [x] Room WordFilter
- [ ] Room Banned Users
- [ ] Users With Rights (Edit/List)
- [ ] Room FloorPlan Editor
- [x] Edit Room Settings
- [x] Walk in Room
- [x] Talk in Room
- [x] User Actions in Room
- [ ] Place Furniture
- [ ] Move/Rotate/Pick/Trigger Furniture
- [ ]

[2016-09-16 13:48] ovflowd opened #133 "In-Game: Users"
This issue talks about the Features for Users in General Basic Actions

**About Users Status**
- [x] Change Look
- [x] User Actions in Room (Dance, Signs, Actions)
- [ ] Lay/Sit
- [x] Idle
- [ ] Others?

**About User Settings**
- [ ] Client Volume Settings
- [ ] Client Chat Settings
- [ ] User Following Settings
- [ ] User Friend Requests Settings
- [ ] User Online Status Settings

[2016-09-16 19:05] TheDoct0r11 commented on #133
Look change is already implemented.

[2016-09-16 19:23] ovflowd commented on #132
Added some fields that was missing.

[2016-09-16 19:35] ovflowd opened #134 "In-Game: Furniture"
This issue tells about features & bugs from Furnitures
- [ ] Furniture Data
- [ ] Furniture Interactions
- [ ] Trigger Between Furniture Modes
- [ ] Trigger Furniture Interactions
- [ ] Furniture Interactions Ecosystem
- [ ] _Specific Furniture Interactions goes in respective issues_

[2016-09-16 19:51] ovflowd commented on #133
@TheDoct0r11 changing look works only a half, since HC subscription isn't coded, gives an exception in the Emulator. But no problem. I'm really anxious to start working in the Emulator. stfu. If i had time, maybe this weekend will start on it.

[2016-09-16 19:56] ovflowd opened #135 "Interaction Coding List"
This is a _Issue Task_ that displays which **Furniture Interactions** are already coded. This is the standard:

<pre>
**Name of the Interaction.:**
**Interaction Code.:**
**Description of Interaction.:**
**Image that Describe its _(optional)_.:**
**Commiter.:**
</pre>

[2016-09-16 20:13] ovflowd opened #136 "API Documentation: Doxygen"
Planning to use [Doxygen](http://www.doxygen.org/) for API and Code Documentation.

[2016-09-17 10:26] TheDoct0r11 commented on #136
You're talking about the rest api? That isn't Yaml, that's either JSON or XML.

[2016-09-17 14:49] ovflowd commented on #136
No, i'm talking about the API Documentation. Swagger uses YAML to generate the API Documentation.
And Swagger is used for API Documentation, can also used for the REST Documentation. But mainly used for the Classes/Code Documentation xD

[2016-09-17 17:14] necm1 opened #137 "Redis - Caching System (very fast)"
We should use **Redis** for _Caching_ (Redis is the fastest key storage).
http://redis.io/

[2016-09-17 18:53] ovflowd commented on #137
We will analyse if is good for us. @Nenji can you say the features of `Redis` ?

[2016-09-17 18:55] ovflowd opened #138 "Switch from A* to IDA*"
The actual Pathfinder approach it's the `A*` (A-Star) Algorithm, we're managing to switch to `IDA*` (Iterative Deepening A_)
More information here: https://en.wikipedia.org/wiki/Iterative_deepening_A_

**Some pros of IDA***
- IDA\* is more faster
- other pros?

[2016-09-17 18:58] ovflowd opened #139 "Implementation of WHCA*"
We need create a way to Calculate Pathfinder Collision. This means, calculate user interception and way of predicate path collision when multiple users want to go to same path.
A valid approach idealized by @TheDoct0r11 it's the _Windowed Hierarchical Cooperative A*_
A paper describes the thing here: http://www.bgu.ac.il/~felner/2014/COWA6p.pdf

[2016-09-17 20:29] TheDoct0r11 commented on #137
I don't think that we need Redis. NHibernate already got First Level Caching by default and we can additionally activate second level caching, when we get around to do so.

Yupi just uses very few ram on startup, because the cache is a real cache:
On first request, it WILL result in a cache miss, but on subsequent requests (by id), NHibernate should return the data from cache (cache hit).

[2016-09-17 20:41] TheDoct0r11 commented on #136
I can't see anything on the Swagger website not related to REST.
Also why would one want to write the docs within an extra file?

I'd rather suggest using a tool that uses the documentation that is within the code.

[Doxygen](http://www.doxygen.org) is a very common tool.

[2016-09-17 20:50] ovflowd commented on #136
@BurakDev can do that. With Doxygen

[2016-09-17 21:19] ovflowd opened #140 "In-Game: Subscriptions"
This issues refers to the development of the HC Subscriptions in the game.
- [x] Load Subscription Data
- [ ] Buy Subscriptions
- [ ] Upgrade/Renew Subscriptions
- [x] Subscriptions Benefits (Dances, Actions, Looks)
- [ ] Subscription Room Benefits
- [ ] Subscription Chooser Benefits
- [ ] Subscription Gifts

[2016-09-17 21:36] ovflowd opened #141 "In-Game: Console"
This issue is about the development of the _Friend's Console_

**About Console Features**
- [ ] Open Console
- [ ] Load Friend List
- [ ] Accept Friend Request
- [ ] Do Friend Request
- [ ] Remove Friend
- [ ] Add Friend Relationship
- [ ] See Friend Relationship
- [ ] Remove/Update Relationship

**About Chat Features**
- [ ] Start Chat
- [ ] Send Mesage
- [ ] Receive Message
- [ ] Report Message

[2016-09-17 21:37] ovflowd commented on #133
Added more items to the check list.

[2016-09-17 21:53] TheDoct0r11 commented on #140
Dance benefits are coded. Are there special signs for vips?

[2016-09-17 21:57] ovflowd commented on #140
I think no, correcting Issue..

[2016-09-18 16:32] ovflowd opened #142 "Database Schema"
I see the Emulator updating the Schema, and we have a tons of tables. Are the Database schema in correct way? Since we have, as an example, an unique table for each Catalogue Page Layout (omg)..

[2016-09-18 16:34] ovflowd commented on #142
Observation: NHibernate spend a really expansive time to create the Database Schema..

[2016-09-19 15:55] ovflowd opened #143 "Backend: Security Issues"
This  `epic` (issue) it's to say about all security issues/to-do things.
- [ ] Proper Encryption in Packet System (Messaging)
- [ ] Proper Data Integrity checks from Packets
- [ ] Proper Packet Injection/XSS Checks
- [ ] Proper Packet Security Checks in All Packets (Make a inbuilt system?)
- [ ] User Ranking and Safety System Check
- [ ] Commands System Check??
- [ ] DoS check? In Message System (

[2016-09-19 16:06] BurakDev opened #144 "Handlers/Composers structure Templating (ProtoBuf)"
This issue is open to debate and talk about a templating system for packets structures.

This feature will allow emulator to support easily multiple releases (and structures changes).

List of ideas :
- [ ] Using homemade templating (RELEASE63-XXXXXXXX-XXXX/Handlers/*Event.model)
- [ ] Using ProtoBuf (support Habbo binary protocol natively)

[2016-09-19 16:09] ovflowd commented on #144
Will be only for Incoming or Outgoing Packets? If for those two, need be `*Composer`, `*Event`

[2016-09-19 16:19] BurakDev commented on #144
Incoming and Outgoing, Incoming to automaticly parsing and checking all packet in one step and Outgoing to automaticly build packet with all needed data.

[2016-09-19 16:22] ovflowd commented on #144
Write in the Issue Description information about Protobuf, please.

[2016-09-20 09:51] BurakDev commented on #142
I think database schema is going on wrong way, a lot of useless tables.

[2016-09-20 10:30] ovflowd commented on #142
I think the way how NHobernate is Creator the schema is wrong... We have really a lot of tables. Some tables in my opinion need to be columns from tables. A lot of foreign keys also are created. This make the database more heavy.

[2016-09-20 11:25] TheDoct0r11 commented on #142
Please read up on OOP Inheritance Mapping:
http://nhibernate.info/doc/nhibernate-reference/inheritance.html

There are basically two ways to map OOP Inheritance:
Table per Subclass or Table per Hierarchie. The problem with TPH is that it would force us to allow NULL values.

[2016-09-20 11:38] ovflowd commented on #143
Added Encryption System in the Check List.

[2016-09-20 12:14] ovflowd opened #145 "Security: Habbo Encryption"
This issue describes what need to be done to conclude _HabboEncryption_
- [x] RSA Key-Encryption Handler
- [ ] RNG Crypto Service Provider
- [ ] ARC4 Encryption Service
- [x] Diffie-Helmann
- [x] BigInteger

**Observation.:** ARC4 isn't anymore safe and can be easily exhausted by key dictionary attack.

[2016-09-20 12:20] ovflowd opened #146 "Migration from .NET 4.5 to .NET 4.5.2 and C# Roslin"
For some security advances like _better Thread and Workers/Queues/Triggers in C#_ and _Complete BigInteger Class_ we recommend to migrate to **.NET 4.5.2**.

.NET 4.5.2 have a lot of improvements, not only those listed, but those listed are more important for us.
We need to know about **mono compatibility issues** through .NET 4.5.2

**Observation.:** it's not viable to change to .NET 4.6! WE WILL

[2016-09-20 12:28] ovflowd commented on #136
@lai0n will do the Documentation with Doxygen.

[2016-09-20 12:31] ovflowd commented on #129
**In-Game:** Assigned to @TheDoct0r11

[2016-09-20 12:32] ovflowd commented on #132
**In-Game:** Assigned to @TheDoct0r11 and @ZakAmirz

[2016-09-20 12:32] ovflowd commented on #128
**In-Game:** Assigned to @TheDoct0r11 and @sant0ro

[2016-09-20 12:33] ovflowd commented on #130
**In-Game:** Assigned to @TheDoct0r11 and @ZakAmirz

[2016-09-20 12:34] ovflowd commented on #136
**Remember.:** need to do the HTML API Documentation and In-Code Documentation.

[2016-09-20 12:34] ovflowd commented on #140
**In-Game:** Assigned to @TheDoct0r11 and @sant0ro

[2016-09-20 12:34] ovflowd commented on #141
**In-Game:** Assigned to @ZakAmirz

[2016-09-20 12:35] ovflowd commented on #133
**In-Game:** Assigned to @TheDoct0r11 and @ZakAmirz and @sant0ro

[2016-09-20 12:35] ovflowd commented on #134
**In-Game:** Assigned to @TheDoct0r11 and @ZakAmirz and @sant0ro and @BurakDev

[2016-09-20 12:36] ovflowd commented on #139
**In-Game:** Assigned to @TheDoct0r11 and @BurakDev

[2016-09-20 12:40] ovflowd commented on #137
As we see, isn't necessary now. Closing Issue.
**If anyone want to open again feel free.**

[2016-09-20 12:40] #137 closed, assigned to nobody

[2016-09-20 12:46] TheDoct0r11 commented on #146
http://www.mono-project.com/docs/about-mono/compatibility/

[2016-09-20 13:15] BurakDev commented on #146
I fixed BigInteger to work with 4.5 definitively, isn't problem now

And like @TheDoct0r11 said, if we want keep optimal compatibility with Mono we need keep 4.5.

[2016-09-20 14:35] ovflowd commented on #144
That's important if we move to new crypto @BurakDev @TheDoct0r11 @ZakAmirz @Nenji

[2016-09-20 14:37] ovflowd opened #147 "Change to New Release?"
If we change to new Habbo release, need work really more on the Emulator. See #144
What your guys think about it?
1. Encryption System need be write
2. We will have latest Packets
3. Versioning of Packet System with Protobuf (Google's #144)
4. Write structure with totally certain (or half certain) of what is what.
5. More?

[2016-09-20 15:24] BurakDev commented on #147
+1 for this

[2016-09-20 15:34] TheDoct0r11 commented on #146
@BurakDev Not what I've said 😕
When you look at the link I've postet, it is fully compatible with 4.6.

[2016-09-20 16:56] ovflowd commented on #146
@TheDoct0r11 but the .NET 4.6 presents some instabilities in some aspects of Habbo Hotel Emulation. A friend of mine told me that, idk exactly what is. But i think it's better stay with 4.5

[2016-09-20 17:21] ovflowd opened #148 "Compatibility with Habbo Air"
If we use Google's _ProtoBug_ it's more possible the usability and compatibility in the Habbo for Android/iOS. This issue it's not planned for the Alpha Cycle.

All related discussion will be made here.

[2016-09-20 17:25] ovflowd opened #149 "Proper Console Debugging/Messaging/Log"
This issue is related to the discussion about how will proper made the Console messages and Console Logging for Yupi Emulator.

All related content will be discussed here.

[2016-09-20 17:30] ovflowd opened #150 "Populate Database with Real Content and Prepare to be able to Users Play through CMS"
This issue is related of the proper population of non-mocked data to the Database, which way will be used?
- [ ] Catalogue Pages
- [ ] Catalogue Furniture
- [ ] Room Categories
- [ ] Navigator Categories
- [ ] Achievements
- [ ] Other stuff

[2016-09-20 17:36] TheDoct0r11 commented on #149
Here are some lists of profanities that we can use for the wordfilter:

English only:
http://www.noswearing.com/dictionary
http://www.bannedwordlist.com/

Multiple languages:
https://github.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words (used by Shutterstock)

Feel free to add resources for words!

[2016-09-20 17:36] ovflowd opened #151 "Create Basic CMS with CRUD Features to Allow Play Properly with Yupi Emulator"
This _Epic_ Issue is about the creation of a CMS _(Content Management System)_ for Yupi Emulator with the following characteristics:
1. Made from Scratch
2. Really tiny
3. OOP + MVC
4. Fully Documented
5. NEED BE REALLY TINY/FAST
6. Using Bootrstrap or ZURB's Foundation
7. Login/Register/Edit User Data/Home/News/Client/Staff Page
8. Tiny HK with the capabilities of:
   1. Login
   2. Edit User

[2016-09-20 17:38] sant0ro commented on #149
@TheDoct0r11 wrong Issue. Right Issue is #143

[2016-09-20 17:42] TheDoct0r11 commented on #143
Here are some lists of profanities that we can use for the wordfilter:

English only:
http://www.noswearing.com/dictionary
http://www.bannedwordlist.com/

Multiple languages:
https://github.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words (used by Shutterstock)

Feel free to add resources for words!

[2016-09-20 17:43] ovflowd commented on #143
@BurakDev give a look.

[2016-09-20 21:45] TheDoct0r11 commented on #144
ProtoBuf is a cool tool, but sadly useless for our requirements:
https://developers.google.com/protocol-buffers/docs/encoding

[2016-09-20 21:48] ovflowd commented on #144
O don't think is useless.
@BurakDev what you think?

[2016-09-20 21:51] TheDoct0r11 commented on #144
@sant0ro  It just won't work. Look at the link I've posted. The encoding isn't compatible with the client.

[2016-09-20 21:53] ovflowd commented on #144
We just can't encode in our way?

[2016-09-20 22:01] TheDoct0r11 commented on #144
From what I've read I don't think so. The library is designed to detect different message versions, but it does this per message, not per client.

[2016-10-03 09:23] Edgy1337 opened #152 "Claudio here is Mike"
Claudio could you please add me on skype?
Mike.prosap

[2016-10-03 09:43] #152 closed, assigned to nobody

[2016-10-03 11:16] ovflowd commented on #152
What u want? '-'

[2016-10-03 11:47] Edgy1337 commented on #152
Can you just add me?
There is no way i can contact you :(

[2016-10-03 12:15] necm1 commented on #151
Sorry that I'm responsing so late. I started with an CMS w/ Laravel as framework.

[2016-10-03 12:27] ovflowd commented on #152
Added

[2016-10-10 16:30] ovflowd opened #153 "Implemente RESTapi Managers and Controlers"
Implemente the Yupi Emulator RESTapi Modules, following the Swagger Documentation.

[2016-10-10 16:32] ovflowd opened #154 "Implement RESTapi Security Module"
Implemente the RESTapi Security Module
- TLS connection
- Forced HTTPS?
- Ability to change to Plain HTTP in Settings File
- Token Authentication
- White List (MUST and NEED)

[2016-10-10 16:34] ovflowd commented on #151
**Observation.:** The CMS will not communicate with Database _ONLY_ with the REST module

[2016-10-10 17:01] ovflowd opened #155 "[Idea] Microsoft Orleans"
Idea made by Francis Joseph from RaGEZONE
![image](https://cloud.githubusercontent.com/assets/12037269/19244274/f6cad4e2-8ef1-11e6-9dd3-adc4a9a4a3a5.png)

Reference: https://github.com/dotnet/orleans

[2016-10-10 17:14] ovflowd opened #156 "Create token-gen command in the Emulator"
Create a Token Generator in the Emulator to create Application tokens
`token-gen ApplicationAddress ApplicationName`
Example:
`token-gen 127.0.0.1 YupiCMS`

**Also need create in the Database Token related Tables**
Implemente also in the Emulator the REST Security Module with Token #154

[2016-10-10 17:25] ovflowd commented on #151
Suggested by CodeDragon: https://github.com/RachidLaasri/LaravelInstaller